- candidate = ticket.proposal_employee
= link_to revoke_admin_ticket_proposal_employee_path(ticket, candidate), method: :put, data: { confirm: 'Отозвать анкету?' }, remote: true, class: 'btn btn-success btn-sm btn-rounded', title: 'Отозвать' do
  |В готовые
