- pe_form = "#{render partial: 'admin/tickets/toolbars/interview_date_form', locals: { ticket: ticket }}"
button type="button" class="btn btn-success btn-rounded" data-toggle="popover" data-placement="top" data-html='true'  data-content=pe_form В очередь
