|Спасибо за регистрацию, #{@user.full_name}!
| Ваша учетная запись активна и Вы можете опубликовать заявку.
| Чтобы узнать как опубликовать заявку Вы можете прочитать инструкцию:
= link_to 'Как опубликовать заявку?', page_url('manual_create_order')