|Здравствуйте!
|Уважаемый(ая) пользователь #{@user.full_name}, поздравляем Вас! Вы сделали первый шаг в новом направлении рекрутинга!
|Рекрутер - это человек, который занимается подбором кадров. Работая с нами, Вы получите новые возможности:
| 1. Зарабатывать, не выходя из дома. Не важно, рассматриваете Вы эту работу как дополнительную подработку или хотите, чтобы это направление стало Вашим основным заработком!
|  2. Управлять временем. Вы не привязаны к рабочему месту. Работайте, когда удобно.
|  3. Возможность совмещать основную работу или учебу.
|  4. Не зависеть от внешних факторов (массовая приостановка/закрытие предприятий из-за эпидемий).
|  5. Уделять больше личного/свободного времени на себя и семью!
|Вам осталось сделать еще пару шагов до старта!
|Перейдите по ссылке, и Вы получите инструкцию для работы рекрутером:
= link_to 'Как стать самозанятым?', page_url('as_an_individual')
|По вопросам смело обращайтесь к менеджеру: Кристина +7 (965) 584 24 32 (номер подвязан к «Telegram»)
|Будем рады взаимовыгодному сотрудничеству!