| Уважаемый, #{@user.full_name}.
| На ваш счёт зачисленно #{@value_to_upped} руб. Что бы посмотреть баланс пройдите по ссылке
= url_for profile_invoices_url
= ' Незнаете как опубликовать заявку? Пройдите по ссылке '
= url_for page_url('manual_create_order')