- val =  params[:q] ? params[:q][:employee_cvs_fields_cont] : nil
= search_form_for @q, url: url, class: 'left-menu', remote: true do |f|
  .input-group.flex.no-wrap
    = f.search_field :employee_cvs_fields_cont, placeholder: 'Поиск анкет', class: 'form-control ml-3 mr-3', value: val
