#order_candidates
  / = render partial: 'profile/orders/proposals/employee_cv', collection: items, as: :proposed
  = render partial: 'profile/orders/candidates/contractor_card', collection: @order.profiles, locals: { order: @order }
