ruby:
  partial = @ticket.title.denied? ? 'denied' : 'other'
  disabled = @ticket.waiting == 'contractor' ? 'disabled' : ''
  waiting_field = { incident: { waiting: 'contractor' }}

= render "profile/tickets/toolbars/contractor/#{partial}", waiting_field: waiting_field, disabled: disabled