ruby:
  partial = @ticket.title.denied? ? 'denied' : 'other'
  disabled = @ticket.waiting == 'contractor' ? 'disabled' : ''
  url = @ticket.title.denied? ? inbox_profile_tickets_incident_path(@ticket, waiting: 'contractor' ) :
                                inbox_profile_tickets_incident_path(@ticket)
  pe_form = "#{render partial: 'profile/tickets/toolbars/calendar',
                      locals: { url: url,
                                candidate: @ticket.proposal_employee,
                                field: 'interview_date',
                                button_text: 'НАЗНАЧИТЬ' }}"

= render "profile/tickets/toolbars/contractor/#{partial}", pe_form: pe_form, disabled: disabled