ruby:
  partial = @ticket.title.denied? ? 'denied' : 'other'
  pe_form = "#{render partial: 'profile/tickets/toolbars/calendar',
                      locals: { url: hire_profile_tickets_incident_path(@ticket),
                                candidate: @ticket.proposal_employee,
                                field: 'hiring_date',
                                button_text: 'НАНЯТЬ' }}"
  pe_interview_form = "#{render partial: 'profile/tickets/toolbars/calendar',
                                locals: {url: interview_profile_tickets_incident_path(@ticket),
                                candidate: @ticket.proposal_employee,
                                field: 'interview_date',
                                button_text: 'НАЗНАЧИТЬ'}}"

= render "profile/tickets/toolbars/customer/#{partial}", pe_form: pe_form, pe_interview_form: pe_interview_form

