ruby:
  partial = @ticket.title.other? ? 'other' : 'denied'
  url_for_hire = if @ticket.proposal_employee.order.number_free_places.zero? && @ticket.proposal_employee.order.completed?
                  hire_profile_order_candidate_path(@ticket.proposal_employee.order, @ticket.proposal_employee, incident: @ticket)
                 else
                  hire_profile_tickets_incident_path(@ticket)
                 end

  pe_form = "#{render partial: 'profile/tickets/toolbars/calendar',
                      locals: { url: url_for_hire,
                                candidate: @ticket.proposal_employee,
                                field: 'hiring_date',
                                button_text: 'НАНЯТЬ' }}"
  pe_interview_form = "#{render partial: 'profile/tickets/toolbars/calendar',
                                locals: {url: interview_profile_tickets_incident_path(@ticket),
                                candidate: @ticket.proposal_employee,
                                field: 'interview_date',
                                button_text: 'НАЗНАЧИТЬ'}}"

= render "profile/tickets/toolbars/customer/#{partial}", pe_form: pe_form, pe_interview_form: pe_interview_form, revoked: @ticket.decorate.revoced_by_customer?

