td.text-center.align-middle
  = link_to to_ready_profile_employee_cv_path(employee_cv), class: 'btn-floating btn-sm black', method: :put, data: { confirm: 'Переместить анкету в готовые?' }, title: 'В готовые', remote: true do
    i.fas.fa-undo-alt
