header.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 61px;
  background-color: #fff;
  justify-content: space-between;

  > span {
    font-size: 15px;
  }

  > div {
    display: flex;
    align-items: center;
  }

  .land-logo {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px;

    > img {
      width: 170px;
      max-width: 170px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .green-btn--short {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 179px;
    height: 30px;
    border-radius: 15px;
    background-color: #badb2f;
    color: #ffffff;
    font-size: 15px;
    line-height: 42px;
    border: 0;
    outline: none;
  }

  .land-social {
    display: flex;
    margin-right: 47px;
  }

  .land-tel-number {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    white-space: nowrap;
    margin-left: 33px;

    &:hover {
      text-decoration: none;
    }
  }

  .mobile-menu {
    position: absolute;
    width: 100%;
    top: 0;
    margin-left: -15px;
    background-color: #f5f5f5;
    z-index: 10;
    display: none;
    padding-bottom: 7px;

    ul {
      width: 100%;
      padding-left: 0;
      margin: 0;

      li {
        position: relative;
        text-align: center;
        list-style-type: none;
        margin: 15px 0;
        font-size: 16px;

        a {
          color: #000;
        }

        .insta {
          margin: 0 15px;
        }

        button {
          margin: auto;
        }
      }

      li:after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: black;
        width: 160px;
        bottom: -7px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: 550px) {
  #customer-landing {
    header {
      .land-tel-number {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  header.header {
    .land-logo {
      margin-right: 0;
    }
    .log-in-reg {
      display: none;
    }
  }
}


@media (max-width: 640px) {
  header.header {
    .land-social {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  header.header {
    > header {
      > span {
        display: none;
      }
    }
  }
}
