#customer-landing {
  .bold {
    font-weight: bold;
  }

  .description-small {
    font-size: 15px;
  }

  .description-normal {
    font-size: 17px;
    line-height: 25px;
  }

  .green-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 179px;
    height: 40px;
    border-radius: 20px;
    background-color: #badb2f;
    color: #ffffff;
    font-size: 15px;
    line-height: 42px;
    outline: none;
  }

  .burger {
    position: absolute;
    right: 20px;
    top: 17px;
    flex-direction: column;
    width: 30px;
    height: 25px;
    justify-content: space-around;
    display: none;
    z-index: 10;

    span {
      width: 100%;
      height: 3px;
      background-color: black;
      border-radius: 1px;
      transition: 0.7s;
    }
  }

  .rotate-right {
    position: absolute;
    transform: rotate(45deg);
  }

  .rotate-left {
    position: absolute;
    transform: rotate(-45deg);
  }

  .hide {
    display: none;
  }

  .landing-header {
    display: flex;
    margin-top: 100px;
    margin-bottom: 110px;

    .content {
      padding-left: 70px;

      .title {
        font-size: 45px;
        line-height: 50px;
        margin-top: 28px;
        margin-bottom: 0;
        color: #290e72;
        font-weight: 800;
        max-width: 610px;
      }

      .subtitle {
        font-size: 18px;
        line-height: 25px;
        font-weight: normal;
        max-width: 456px;
        margin: 40px 0 116px 0;
      }

      .hire-staff-block {
        display: flex;
        align-items: flex-end;

        input {
          border: 0;
          margin-right: 20px;
          width: 238px;
          border-bottom: 1px solid #b3b3b3;

          &::placeholder {
            color: #888888;
            font-size: 15px;
          }
        }

        .hire-staff-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          color: #fff;
          width: 194px;
          height: 40px;
          border-radius: 20px;
          border: 0;
        }
      }
    }

    .landing-header-img {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        max-width: 373px;
      }
    }
  }

  .recruitment {
    margin-top: 100px;

    .title-common {
      margin: 0 auto 70px;
      line-height: 34px;
      @media (max-width: 1200px) {
        margin: 0 auto 50px;
      }
      @media (max-width: 400px) {
        padding: 0 15px;
      }
    }

    .container {
      max-width: 1163px;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: space-around;
      }
      @media (max-width: 650px) {
        justify-content: center
      }
    }

    .block {
      width: 260px;
      height: 149px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background-color: #fafafc;
      color: #000000;
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
      text-align: center;
      @media (max-width: 1200px) {
        margin: 0 4% 30px;
      }

      .price {
        font-size: 16px;
        color: #1970ff;
      }
    }
  }

  .how-it-work {
    margin-top: 190px;
    @media (max-width: 1200px) {
      margin-top: 100px;
    }

    .title-common {
      margin-bottom: 110px;
    }

    .stages {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 1200px) {
        flex-direction: column;
      }
    }

    .stage {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .count {
      position: relative;
    }

    .big-number {
      font-size: 55px;
      font-weight: 700;
      line-height: 41px;
    }

    .big-number-bg {
      position: absolute;
      left: 10px;
      top: -5px;
      z-index: -1;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: #f0f9fe;
    }

    .stage-description {
      font-size: 19px;
      font-weight: 700;
      text-align: center;
      line-height: 21px;
      margin-top: 35px;
      padding-left: 25px;
    }

    .step-arrow {
      margin: 0 50px;
      @media (max-width: 1200px) {
        margin: 20px 0;
      }

      img {
        @media (max-width: 1200px) {
          transform: rotate(90deg);
        }
      }
    }
  }

  .about-company {
    margin-top: 170px;
    @media (max-width: 768px) {
      margin-top: 80px;
    }

    .title-common {
      margin-bottom: 85px;
    }

    .container {
      max-width: 1000px;
      display: flex;
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .visual-block {
      max-width: 215px;
      margin-right: 110px;
      @media (max-width: 992px) {
        margin-right: 40px;
      }
      @media (max-width: 768px) {
        margin: 0 auto 40px;
      }

      .big-number {
        color: #1970ff;
        font-size: 40px;
        font-weight: 700;
        line-height: 30px;
        padding-top: 5px;
      }

      .description {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
    }

    .in-office, .in-regions {
      display: flex;
      margin-bottom: 40px;
    }

    .in-office {
      .description {
        margin-left: 44px;
      }
    }

    .in-regions {
      .description {
        margin-left: 22px;
      }
    }

    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    .description-block {
      max-width: 620px;
      @media (max-width: 768px) {
        max-width: unset;
      }

      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 35px;
      }
    }
  }

  .clients-slider {
    margin-top: 130px;
    margin-bottom: 200px;

    .title-common {
      margin-bottom: 60px;
    }

    .container {
      position: relative;
      height: 100px;
    }

    &-container {
      display: flex;
    }

    .img-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px !important;
      margin: 0 10px;
      outline: none;

      img {
        max-width: 170px;
        max-height: 100px;
      }
    }

    .clients-slider-arrow-right {
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        right: 10%;
        z-index: 999;
      }
    }

    .clients-slider-arrow-left {
      position: absolute;
      cursor: pointer;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: 10%;
        z-index: 999;
      }

      img {
        transform: rotate(180deg);
      }
    }
  }

  .reviews {
    margin-top: 125px;
    background-color: #fafafc;
    padding: 60px 0;

    .container {
      position: relative;
    }

    &__title {
      margin-bottom: 50px;
    }

    .slider-bg {
      background-color: #fafafc;
    }

    .review-block {
      position: relative;
      max-width: 295px;
      width: 267px !important;
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      background-color: #ffffff;
      padding: 62px 27px 22px;
      border-top: 3px solid #badb2f;
      outline: none;
      margin: auto;

      &.skan{
        
        .content{
          height: max-content;
          max-height: unset;
          margin-bottom: 0;
          img{
            max-width: 100%;
          }
        }
      }

      &.slick-current.skan{
        padding: 51px 8px 10px 8px !important;
      }

      p {
        text-align: center;
      }

      .logo {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;

        img {
          max-width: 100%;
        }
      }

      .title {
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 25px;
        word-break: break-all;
      }

      .content {
        font-size: 13px;
        line-height: 23px;
        margin-bottom: 22px;
        max-height: 183px;
        overflow: hidden;
      }

      .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 2px 0;
      }

      &.slick-current {
        width: 295px !important;
        min-height: 372px;
        padding: 67px 30px 27px !important;

        .logo {
          width: 89px;
          height: 89px;
        }

        .title{
          font-size: 17px;
        }

        .content{
          font-size: 14px;
        }
      }
    }

    .reviews-btn {
      width: 253px;
      height: 45px;
      border: 0;
      margin: 38px auto 0;
    }

    .slick-track {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 575px;
    }

    .slider-reviews-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      left: 0;
      z-index: 1000;

      &:hover {
        cursor: pointer;
      }
    }

    .slider-reviews-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -20px;
      z-index: 1000;

      @media (max-width: 850px) {
        right: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .review-opened {
    max-height: 500px !important;
    overflow: auto !important;
  }

  #slider-reviews {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .advantages-list {
    margin-top: 100px;

    &__title {
      max-width: 552px;
      margin: auto;
      @media (max-width: 450px) {
        font-size: 24px;
      }
    }

    &__container {
      display: flex;
      position: relative;
      justify-content: space-between;
      max-width: 733px;
      margin: 100px auto 0;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .column {
      width: 45.5%;
      padding-left: 50px;

      @media (max-width: 768px) {
        width: auto;
      }

      @media (max-width: 450px) {
        padding-left: 30px;
      }

      &:first-child {
        .item {
          margin-bottom: 50px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        @media (max-width: 768px) {
          margin-bottom: 50px;
        }
      }

      &:nth-child(2) {
        .item:first-child {
          margin-bottom: 50px;
        }

        .item:nth-child(2) {
          margin-bottom: 27px;
        }
      }
    }

    .item {
      position: relative;
      display: block;
      max-width: 312px;
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;

      &:before {
        position: absolute;
        content: url(asset_path("arrow_list_item.png"));
        left: -15px;
        transform: translateX(-100%);
      }
    }

    &__img {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateX(70%);

      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  .advantages {
    position: relative;
    margin-top: 190px;

    @media (max-width: 992px) {
      margin-top: 80px;
    }

    &_block {
      margin: auto;
      padding-top: 100px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1100px;
      align-items: unset;

      @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
      }

      &_item {
        width: 320px;
        margin-bottom: 90px;
        border-radius: 4px;
        background-color: #ecffe2;
        padding: 30px;
        @media (max-width: 350px) {
          width: 280px;
        }
      }
    }

    .logo {
      margin-bottom: 25px;
    }

    .description {
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .stamp {
    position: absolute;
    top: 320px;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #1970ff;
    width: 155px;
    height: 64px;
    border-radius: 4px;
    transform: rotate(-25deg);

    > div {
      width: 142px;
      height: 50px;
      border: 2px solid #1970ff;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      color: #1970ff;
      font-size: 11px;
      font-weight: 700;
      line-height: 17px;
      white-space: nowrap;
    }
  }

  .top-description {
    position: relative;
    padding-bottom: 125px;
    overflow: hidden;

    .rectangle {
      position: absolute;
      right: -130px;
      bottom: 0;
      z-index: -1;
    }

    > .container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }

    .description:first-child {
      max-width: 480px;
      background-color: $bgColorSecondary;
      padding: 70px;

      p:first-child {
        margin-bottom: 35px;
      }
    }

    .description:last-child {
      max-width: 563px;
      background-color: $bgColorSecondary;
      padding: 69px 73px 67px 63px;

      p:first-child {
        margin-bottom: 40px;
      }
    }
  }

  .gray {
    width: 100%;
    height: 881px;
    background-color: #f5f5f5;
  }

  .blue {
    height: 244px;
    background-color: #1970ff;
    opacity: 0.5;
  }

  .blue-color {
    color: #1970ff;
  }

  .white {
    height: 828px;
    background-color: #fff;
  }

  #download-price-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bgColorSecondary;
    padding: 22px;

    a {
      font-weight: bold;
      font-size: 18px;
      color: black;
      text-decoration: underline;
      line-height: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .company-services {
    padding-top: 108px;
    background-color: #fafafc;
    padding-bottom: 55px;

    &__title {
      margin-bottom: 72px;
    }

    .blocks-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 954px;
      justify-content: space-between;
      margin: 0 auto;
    }

    .block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 290px;
      height: 159px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      background-color: #ffffff;
      margin-bottom: 40px;

      > span {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        line-height: 22px;
        max-width: 195px;
      }
    }
  }

  .title-common {
    color: #000000;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
  }

  .nowrap {
    white-space: nowrap;
  }

  .specializing {
    margin-top: 100px;

    .categories {
      display: flex;
      flex-wrap: wrap;
    }

    .category-block {
      position: relative;
      width: 25%;
      margin-bottom: 90px;

      .title {
        font-size: 19px;
        font-weight: 700;
        line-height: 19px;
        padding-left: 6px;
      }

      hr {
        max-width: 205px;
        height: 3px;
        border-radius: 2px;
        background-color: #cccccc;
        margin: 4px 0 0 0;
      }

      .subtitle {
        font-size: 16px;
        font-weight: bold;
        line-height: 17px;
        margin-top: 30px;
        padding-left: 7px;
        margin-bottom: 5px;
      }

      .price {
        font-size: 14px;
        font-weight: 400;
        padding-left: 7px;
        line-height: 14px;
      }

      .show-more {
        display: block;
        margin-top: 30px;
        padding-left: 7px;
        color: #1970ff;
        font-size: 14px;

        &:hover {
          cursor: pointer;
        }
      }

      .show-more-img {
        margin-left: 4px;
      }

      &:last-child {
        max-width: 245px;

        hr {
          max-width: 245px;
          background-color: #badb2f;
        }

        .green-btn {
          border: 0;
          margin: 32px auto 0;
        }
      }
    }

    .dropdown {
      display: none;
      position: absolute;
      z-index: 10;
      left: -5px;
      width: 206px;
      height: auto;
      max-height: 282px;
      box-shadow: 0 1px 25px rgba(0, 0, 0, 0.13);
      border-radius: 4px;
      background-color: #ffffff;
      overflow: auto;
      padding: 24px 0 25px 27px;

      .subtitle:first-child {
        margin-top: 0;
      }

      &.open {
        display: block;
      }
    }
  }

  .services {
    max-width: 1090px;
    margin-bottom: 143px;
    padding: 0;
    margin-top: -40px;

    .title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 45px;
      margin-left: 67px;
    }

    .description-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 45px;
    }

    .description {
      padding: 70px;
      background-color: $bgColorSecondary;

      &:first-child {
        margin-top: 30px;
        max-width: 480px;
      }

      &:last-child {
        position: relative;
        max-width: 563px;

        p:first-child {
          margin-bottom: 40px;
        }
      }
    }

    .girl-in-descr {
      position: absolute;
      top: 25px;
      right: -41px;
    }
  }

  .our-partnerships {
    margin-top: 113px;

    @media (min-width: 1200px) {
      & {
        width: 1250px;
      }
    }

    > .row {
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }

    .description {
      width: calc(100% - 602px);
      margin-bottom: 50px;

      h2 {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 27px;
      }

      p {
        margin: 0;
        font-size: 15px;
        line-height: 24px;

        &:last-child {
          margin-top: 30px;
        }
      }

      &.recruitment-agency {
        padding-top: 29px;
        padding-left: 73px;

        > p {
          max-width: 460px;
        }
      }

      &.recruiters {
        padding-left: 77px;
        padding-top: 30px;
        padding-right: 77px;

        > p {
          max-width: 455px;
        }

        > p:last-child {
          max-width: 493px;
        }
      }

      &.regional-representatives {
        padding-top: 37px;
        padding-left: 73px;

        > p {
          max-width: 450px;
        }

        p:nth-last-child(-n+2) {
          margin-top: 30px;
        }
      }
    }

    .img-block {
      margin-bottom: 50px;
      width: 602px;
      height: 405px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f0f9fe;

      .people-search {
        width: 344px;
        max-width: 100%;
      }

      .people-world {
        width: 486px;
        max-width: 100%;
      }
    }
  }

  .about-us {
    position: relative;
    margin-top: 160px;
    overflow: hidden;
    padding-bottom: 300px;

    .title {
      font-size: 28px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 70px;
    }

    .container {
      max-width: 1071px;
      border-radius: 8px;
      background-color: #ecffe2;
      padding: 70px 160px;
    }

    .about-partner {
      width: 63%;
      max-width: 470px;

      .about-us-img {
        margin-bottom: 90px;
        margin-top: 10px;
      }
    }

    .description {
      z-index: 6;
      position: relative;
      display: flex;
      justify-content: space-between;

      .numbers {
        margin-top: -10px;

        .number {
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .big-number {
          display: block;
          color: #06186f;
          font-size: 44px;
          font-weight: bold;
          line-height: 33px;
          margin-bottom: 12px;
        }

        .number-desc {
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          margin: 0;
          line-height: 26px;
        }
      }
    }

    &_rectangles {
      position: absolute;
      z-index: -1;
      right: -10px;
      bottom: 29%;
      width: 40vw;
      height: 40vw;

      &_img {
        z-index: 5;
        position: absolute;
        bottom: 0;
        right: 8vw;

        img {
          max-width: 15vw;
        }
      }

      &_wrapper {
        transform: translate(20%, 40%) rotate(15deg);
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $bgColorPrimary;

        div {
          margin: auto;
          display: flex;
          width: calc(100% - 25px);
          height: calc(100% - 25px);
          background-color: $bgColorPrimary;
          border: 12.5px solid $bgColorSecondary;
        }
      }
    }
  }

  .leave-request {
    display: flex;
    margin-bottom: 130px;
    margin-top: 155px;
    max-width: 987px;

    .actions-container {
      display: flex;
      width: 59%;
      max-width: 570px;
    }

    .actions {
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 30px;
      padding: 21px 0 30px 0;
    }

    .block {
      .title {
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
      }

      .description {
        font-size: 14px;
        line-height: 17px;
      }

      &:first-child {
        .title {
          max-width: 276px;
          margin-bottom: 20px;
        }

        .description {
          max-width: 290px;
        }
      }

      &:last-child {
        align-self: flex-end;

        .title {
          margin-bottom: 14px;
          line-height: 19px;
        }

        .description {
          max-width: 151px;
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 413px;
      border-radius: 15px;
      background-color: #fafafc;
      padding: 50px 30px 35px;

      .title {
        color: #1970ff;
        font-size: 26px;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 50px;
      }

      .input {
        width: 100%;
        height: 30px;
        border-radius: 4px;
        border: 1px solid #e1e1e1;
        background-color: #ffffff;

        &::placeholder {
          padding-left: 15px;
          color: #888888;
        }

        &.name {
          padding: 15px;
          margin-bottom: 14px;
        }

        &.phone {
          padding: 15px;
          margin-bottom: 40px;
        }
      }

      .btn-send-form {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        width: 194px;
        height: 40px;
        border-radius: 20px;
        background-color: #1970ff;
        color: #ffffff;
        font-size: 15px;
        line-height: 15px;
      }
    }
  }

  #download-contract-offer {
    width: 204px;
    display: block;
    margin-top: 38px;
    border-bottom: 3px solid #badb2f;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black;

    &:hover {
      text-decoration: none;
      color: blue;
    }
  }

  footer {
    position: relative;
    background-color: #252525;
    padding-top: 50px;
    padding-bottom: 50px;

    .footer-vacancies {
      display: flex;
      justify-content: space-between;
    }

    .item {
      font-size: 12px;
      color: #ffffff;
      max-width: 135px;

      &:nth-child(4) {
        max-width: 64px;
      }
    }

    hr {
      margin: 50px 0 20px;
      height: 1px;
      background-color: #494949;
      max-width: 1090px;
    }

    .cities {
      display: flex;
      justify-content: left;
      margin-bottom: 60px;
    }

    .city {
      width: 20%;
      padding-left: 15px;
      border-left: 2px solid #1970ff;

      .description {
        color: #ffffff;
        font-size: 13px;
      }
    }

    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 45px;

      .info {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          color: #ffffff;
          font-size: 13px;
          font-weight: 400;
          line-height: 11px;
          white-space: nowrap;
        }

        a {
          color: #ffffff;
          font-size: 13px;
          font-weight: 400;
          line-height: 13px;
          white-space: nowrap;
        }

        .geolocation{
          img{
            margin-top: -6px;
            margin-right: 10px;
          }
        }

      }
    }

    .designed-by {
      color: #616161;
      font-size: 14px;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  #modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    &.open {
      display: block;
    }

    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .form {
      width: 42%;
      max-width: 570px;
      position: relative;
      display: flex;
      border-radius: 4px;
      background-color: #ffffff;
      padding: 47px 56px 44px 63px;
      max-height: 330px;

      @media (max-width: 600px) {
        > img {
          display: none;
        }
      }
    }

    .inputs-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 20px;

      input {
        width: 100%;
        height: 34px;
        border-radius: 4px;
        border: 1px solid #e1e1e1;
        background-color: #ffffff;

        &::placeholder {
          color: #888888;
          font-size: 15px;
          padding-left: 15px;
        }
      }

      .name {
        margin-top: 53px;
        margin-bottom: 14px;
      }
    }

    .green-btn {
      border: 0;
      margin-top: 37px;
    }

    .close-modal {
      position: absolute;
      right: 13px;
      top: 12px;
      width: 13px;
      height: 13px;

      img {
        max-width: 100%;
      }
    }
  }

  .slick-prev.slick-arrow {
    display: none !important;
  }

  .slick-lightbox-slick-img {
    height: 100% !important;
  }
}

@media (max-width: 1365px) {
  #customer-landing {
    .stamp {
      top: 480px;
    }
  }
}

@media (max-width: 1200px) {
  #customer-landing {
    .landing-header {
      .content {
        padding-left: 0;

        .title {
          width: 90%;
        }
      }
    }

    .our-partnerships {
      .description:first-child {
        padding-left: 57px;
      }

      .description:last-child {
        padding-top: 40px;
      }
    }

    .top-description {
      .description:first-child, .description:last-child {
        max-width: 45%;
      }
    }

    .services {
      position: relative;

      .description:first-child, .description:last-child {
        max-width: 47%;
        padding: 50px;
      }
    }

    .steps {
      .steps-title {
        height: auto;
      }

      .steps-container {
        flex-direction: column;
        align-items: center;

        .steps_item {
          margin-bottom: 15px;
        }
      }
    }

    .our-partnerships {
      .description {
        h2 {
          text-align: center;
        }
      }

      > .row {
        flex-direction: column;
        align-items: center;
      }

      .description.recruitment-agency {
        order: 1;
        width: 100%;
        padding-left: 10px;

        p {
          max-width: unset;
        }
      }

      .recruitment-agency {
        order: 2;
        max-width: 100%;
      }

      .description.recruiters {
        order: 3;
        width: 100%;
        padding-left: 10px;
        padding-right: 0;

        p, p:last-child {
          max-width: unset;
        }
      }

      .recruiters {
        order: 4;
        max-width: 100%;
      }

      .world {
        order: 6;
        max-width: 100%;
      }

      .description.regional-representatives {
        order: 5;
        width: 100%;
        padding-left: 0;

        p {
          max-width: unset;
        }
      }

      .description:last-child {
        padding-left: 10px !important;
      }
    }

    .stamp {
      top: 525px;
      left: 160px;
    }

    footer {
      .city {
        padding-left: 10px;
      }
    }
  }

  #download-contract-offer {
    margin: 10px auto 0;
  }
}

@media (max-width: 1150px) {
  #customer-landing {
    .advantages-girl, .advantages_rectangles {
      display: none;
    }

    .advantages_block {
      > .row:last-child {
        width: 100%;
      }
    }

    .about-us {
      margin-bottom: 50px;
      padding-bottom: 50px;
    }

    .about-us_rectangles {
      display: none;
    }
  }
}

@media (max-width: 1100px) {
  #customer-landing {
    .nowrap {
      white-space: normal;
    }
    #modal{
      .form{
        width: 100%;
      }
    }
  }
}

@media (max-width: 1050px) {
  #customer-landing {
    .our-partnerships {
      .description:first-child, .description:last-child {
        padding-left: 30px;
        padding-top: 10px;

        p {
          width: 95%;
        }

        p:last-child {
          margin-top: 10px;
        }
      }
    }

    footer {
      .container {
        .footer-tel-number {
          margin-right: 20px;
        }

        .footer-social {
          .in-social {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #customer-landing {
    .top-description {
      > .container {
        flex-direction: column;
        justify-content: flex-start;
      }

      .description:first-child, .description:last-child {
        width: 100%;
        max-width: 100%;
      }

      .description:first-child {
        margin-bottom: 30px;
      }
    }

    .stamp {
      top: 468px;
      left: 13%;
      transform: rotate(-20deg);
    }

    .specializing {
      .category-block {
        width: 33%;
      }
    }

    .advantages_block {
      > .row {
        flex-wrap: wrap;

        &:first-child {
          padding-right: 0;
        }
      }
    }

    .advantages_block_item {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .about-us {
      > .container {
        padding: 40px;
      }

      .about-partner {
        .about-us-img {
          margin-bottom: 50px;
          margin-top: 0;
        }
      }
    }

    .leave-request {
      flex-direction: column;
      align-items: center;
      margin-top: 50px;

      .actions-container {
        width: 100%;
      }
    }

    footer {
      padding-top: 30px;
      padding-bottom: 30px;

      > .container {
        width: 100%;
      }

      .cities {
        flex-wrap: wrap;
        margin-bottom: 30px;
      }

      .city {
        width: 25%;
        margin-bottom: 10px;
      }

      .footer-bottom {
        padding-right: 0;

        .info {
          width: 70%;
          flex-wrap: wrap;

          a, p {
            display: block;
            margin: 0 10px 5px;
          }
        }
      }

      .footer-vacancies {
        flex-wrap: wrap;
      }

      .item {
        width: 50%;
        max-width: unset;
        margin-bottom: 10px;

        &:nth-child(4) {
          max-width: unset;
        }
      }

      hr {
        margin: 20px 0;
      }
    }
  }
}

@media (max-width: 990px) {
  #customer-landing {
    .landing-header {
      .content {
        .title {
          font-size: 33px;
        }

        .hire-staff-block {
          flex-direction: column;
          align-items: flex-start;

          input {
            margin-right: 0;
          }

          .hire-staff-btn {
            margin-top: 10px;
          }
        }
      }
    }

    .services {
      margin-top: 45px;
    }
  }
}

@media (max-width: 900px) {
  #customer-landing {
    .about-us {
      .title {
        margin-left: 0;
        text-align: center;
      }

      .description {
        flex-direction: column;
        align-items: center;

        .about-partner {
          margin-left: 0;
        }

        .numbers {
          margin-top: 20px;
          padding-left: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 100%;

          .number {
            width: 50%;
            text-align: center;
          }
        }
      }

      .about-partner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .about-us-img {
          margin-bottom: 20px;
        }
      }
    }

    footer {
      .cities {
        justify-content: unset;
      }

      .city {
        width: 33.3%;
      }
    }
  }
}

@media (max-width: 800px) {
  #customer-landing {
    .our-partnerships {
      flex-direction: column;
      align-items: center;

      .description, .img-block {
        width: 100%;
      }

      .img-block {
        margin: 20px 0;
      }

      .description {
        h2 {
          text-align: center;
        }
      }
    }

    .about-us {
      .description {
        margin-bottom: 30px;
      }

      .title {
        margin-bottom: 30px;
      }
    }

    .services {
      .title {
        margin-left: 0;
        text-align: center;
      }

      .description-container {
        flex-direction: column;
        align-items: center;

        .description:first-child, .description:last-child {
          max-width: 100%;
        }

        .description:first-child {
          margin-bottom: 30px;
        }
      }

      .girl-in-descr {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  #customer-landing {
    .services {
      padding-right: 15px;
      padding-left: 15px;
    }

    .steps {
      .steps-title {
        margin: 0 0 20px;
      }
    }

    .specializing {
      margin-top: 50px;

      .company-services__title {
        margin-bottom: 50px;
      }

      .category-block {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        hr {
          width: 100%;
        }

        &:last-child {
          max-width: unset;
        }
      }

      .dropdown {
        transform: translate(-50%, 100%);
        bottom: -7px;
        left: 50%;
      }
    }
  }
}

@media (max-width: 740px) {
  #customer-landing {
    .landing-header {
      align-items: center;
      margin-top: 50px;

      .content {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .title, .subtitle {
          text-align: center;
        }

        .hire-staff-block {
          align-items: center;
        }
      }

      .landing-header-img {
        display: none;
      }
    }

    .container {
      .contacts {
        flex-direction: column;
        align-items: center;

        .footer-tel-number {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    .stamp {
      left: 20px;
      top: 420px;
    }
  }
}

@media (max-width: 650px) {
  #customer-landing {
    footer {
      .city {
        width: 50%;
      }

      .footer-bottom {
        .info {
          width: auto;
          flex-direction: column;
          align-items: flex-start;

          a, p {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  #customer-landing {
    .company-services {
      padding-top: 50px;

      &__title {
        margin-bottom: 40px;
      }

      .blocks-container {
        flex-direction: column;
        align-items: center;
      }
    }
    footer {
      height: auto;

      .container {
        flex-direction: column;

        .rights-reserved, .designed-by {
          margin: 10px 0;
        }
      }
    }
    .top-description {
      .description:first-child, .description:last-child {
        padding: 30px;
      }
    }
  }
}

@media (max-width: 600px) {
  #customer-landing {
    #modal{
      .form{
        width: 90%;
        padding: 20px;
        max-width: 420px;
      }
      .inputs-container{
        margin-left: 0;
      }
    }

    .landing-header {
      position: relative;
      margin-bottom: 0;
      padding-bottom: 100px;

      .content {
        .title {
          font-size: 40px;
        }

        .subtitle {
          font-size: 20px;
          margin-bottom: 70px;
        }
      }
    }

    .our-partnerships {
      .description:first-child, .description:last-child {
        padding: 0 15px;
        text-align: center;
      }

      .description {
        p {
          width: 100% !important;
        }
      }
    }

    .burger {
      display: flex;
    }

    .top-description {
      .description:first-child, .description:last-child {
        padding: 15px;
      }
    }

    .services {
      .title {
        margin-bottom: 0;
      }

      .description-container {
        .description:first-child, .description:last-child {
          padding: 15px;
          text-align: center;
        }
      }
    }

    .stamp {
      left: unset;
      top: unset;
      right: 10px;
      bottom: 25px;
    }

    .specializing {
      .category-block {
        width: 100%;
      }
    }

    .advantages_block_item {
      width: 100%;
    }

    .advantages_block {
      padding-top: 50px;
    }

    .about-us {
      > .container {
        padding: 20px;
      }

      .about-partner {
        max-width: unset;
        width: 90%;
      }
    }
  }
}

@media (max-width: 550px) {
  #customer-landing {
    .about-us {
      &_rectangles {
        width: 70vw;
        height: 70vw;

        &_img {
          img {
            max-width: 30vw;
          }
        }
      }
    }

    .our-partnerships {
      margin-top: 15px;

      .description {
        padding: 15px !important;

        h2 {
          font-size: 20px;
        }
      }

      .img-block {
        img {
          max-width: 100% !important;
        }
      }
    }

    .about-us_rectangles {
      display: none;
    }

    .top-description {
      .rectangle {
        display: none;
      }
    }
  }
}

@media (max-width: 500px) {
  #customer-landing {
    .leave-request {
      .actions-container {
        > img {
          display: none;
        }

        .actions {
          min-height: 270px;
          width: 100%;
          margin: 0;
        }
      }

      .form {
        padding: 30px 20px 20px;

        .title {
          text-align: center;
        }
      }
    }

    footer {
      .item, .city {
        width: 48%;
        margin-right: 2%;
      }
    }
  }
}

@media (max-width: 450px) {
  #customer-landing {
    .steps {
      .steps-container {
        margin-bottom: 30px;

        .steps_item {
          width: 100%;
          padding: 20px;

          .title {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  #customer-landing {
    .services {
      .girl-in-descr {
        right: 0;
      }
    }
  }
}