.md-form.input-group .input-group-text [type="checkbox"] + label, .input-group .input-group-text [type="checkbox"] + label {
    padding-left: 25px;
}

.remote-block {
  cursor: pointer;
}

.remote-empl_cvs {
  display: none;
}

.new-employee_cv-form input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 153px;
  opacity: 0;
}

.popover{
  left: -290px !important;
}


[data-page="ProfileTicketsShow"] {
  .popover {
    left: unset !important;
    max-width: unset;
  }

  .btn-rounded {
    border-radius: 2px !important;
  }

  .button-hr {
    background-color: #1970ff !important;
    color: white !important;
    border: none !important;
    font-weight: 600 !important;
  }

  input.btn:hover {
    box-shadow: none !important;
  }

}

.crm-list {
  #main_row {
    overflow-x: auto;
    width: calc(100% - 320px);
    height: calc(100vh - 58px);
    font-family: "Open Sans", sans-serif;

    .remove_column_button {
      position: absolute;
      top: 15px;
      right: 10px;
      cursor: pointer;
    }
  }

  .card-scroll-window::-webkit-scrollbar-thumb, .default-scroll::-webkit-scrollbar-thumb {
    background-color: #9046ff !important;
    background-image: unset !important;
  }

  .card-tools {
    position: absolute;
    right: 5px;
    top: 10px;
  }

  .card-scroll-window {
    height: 320px;
    overflow-y: auto;
  }

  .custom-column {
    width: 300px;
    height: 96%;
    flex: 0 0 300px;
    margin-left: 13px;
    margin-top: 2%;
    box-shadow: none;
    background-color: #e6e6e6;
  }

  .custom-column.chosen{
    margin-top: 0;
  }

  .main-workspace {
    max-height: calc(100% - 65px); /* ? */
  }

  #add_column{
    width: 100%;
    border-radius: 4px;
    background-color: #e6e6e6;
    color: black;
    font-weight: bold;
    text-transform: unset;
    font-size: 15px;
  }

  .add-card{
    color: #8d8d8d;
    font-size: 14px;
    text-transform: unset;
    text-align: left;
    padding: 0 0 7px 23px;
    width: 100%;
  }

  .main-workspace .row {
    display: flex;
    flex-wrap: nowrap;
  }

  .initials {
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    text-align: left;
  }

  .tags {
    text-align: left;
    margin-bottom: 5px;
  }

  .card_phone_number {
    margin-bottom: 0;
    text-align: left;
    margin-top: 0;
    font-size: 14px;
    padding-left: 7px;
  }

  .card_textarea {
    width: 100%;
    margin-top: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    resize: none;
    overflow-y: auto;
    padding: 7px 0 0 10px;
    font-size: 12px;
    min-height: 60px;
  }

  .card_textarea::placeholder{
    font-size: 13px;
  }

  .card-body {
    padding: 0.5rem;
    .card-header{
      padding: 10px 10px 0 15px;
      a{
        color: black;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  h3.card-title{
    font-weight: bold;
  }

  .red {
    color: red;
  }

  .pink {
    color: pink;
  }

  .green {
    color: green;
  }

  .card_bottom {
    position: relative;
  }

  .data {
    position: absolute;
    bottom: 0;
    right: 3px;
    font-size: 14px;
  }

  .chosen {
    position: fixed;
    right: 5px;
    background-color: white;
    overflow-y: auto;
    height: 90vh;
    top: 70px;
    margin-right: 10px;
    font-family: "Open Sans", sans-serif;
    > .card-header{
      border-radius: 4px;
      background-color: #9046ff;
      height: 50px;
      display: flex;
      align-items: center;
      padding-top: 0;
    }
    > .card-body{
      background-color: #e6e6e6;
    }
    .card{
      box-shadow: 1px 2px 8px rgba(113, 113, 113, 0.15);
      background-color: #ffffff;
      .card-title{
        color: black;
        width: 80%;
      }
    }
    .card-body.interior{
      border-radius: 4px;
      background-color: #d0d0d0;
      margin: 0 -8px;
      height: 340px;
      overflow: auto;
      padding: 15px 15px 5px 15px;
    }
    .card-list {
      > .card-header{
        padding: 10px 10px 5px 15px;
        position: relative;
      }
      border-left: 5px solid #ff2400;

      &__waiting_for_payment {
        border-left: 5px solid #FFA500;
      }

      &__moderation {
        border-left: 5px solid #FFFF00;
      }

      &__published {
        border-left: 5px solid #00ca5f;
      }

      &__completed {
        border-left: 5px solid #C0C0C0;
      }
    }
    .arrow{
      position: absolute;
      bottom: 17px;
      right: 23px;
    }
    .arrow:hover{
      cursor: pointer;
    }

    .card-tools .dropdown-menu {
      position: absolute;
      transform: translate3d(0px, 38px, 0px);
      top: 0px; left: 0px;
      will-change: transform;
    }
  }

  .right-top{
    position: absolute;
    right: 10px;
    top: -10px;
    font-size: 15px;
  }

  .data{
    position: absolute;
    bottom: 7px;
    right: 5px;
    font-size: 14px;
    color: #8d8d8d;
  }

  .card-header {
    min-height: 30px;
    padding: 10px 0 0 10px;
    background-color: unset;
    border-bottom: none;
  }

  .star{
    color: yellow;
    margin-right: 6px;
    font-size: 19px;
  }

  .card-in-list {
    width: 99%;
    margin: 0 auto 10px auto;
  }

  .number_of_people {
    margin-bottom: 5px;
    text-align: left;
  }

  .card-title {
    width: 100%;
    float: none !important;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
  }

  .salary, .work_area {
    margin-bottom: 5px;
  }

  .salary{
    font-size: 14px;
  }

  .work_area{
    display: none;
  }

  .number_of_people_span {
    border-radius: 5px;
    background-color: #9046ff;
    padding: 4px 10px;
    color: #fff;
    font-size: 13px;
  }

  .custom-column:first-child {
    margin-left: 5px;
  }

  .dropdown-item {
    color: black !important;
  }

  .btn-info {
    background-color: transparent !important;
    border-color: transparent;
    border-radius: 5px;

    i{
      color: #cccccc;
    }
  }

  .card-header-in-list {
    display: flex;
  }

  .card-header-in-list .card-title {
    cursor: pointer;
  }

  .js-clicked-input {
    display: none;
    margin: auto;
  }

  .btn-block {
    width: 100%;
  }

  .moveable {
    margin: 0 auto 10px auto !important;
  }

  .btn-info:hover {
    cursor: pointer;
  }

  .btn, .card {
    box-shadow: none;
  }

  #add {
    background-color: transparent;
    .card-header{
      padding: 0;
    }
  }

  #add > .card-header {
    border-bottom: none;
  }

  .d-flex-none {
    flex: none !important;
    height: auto !important;
    margin: 10px auto !important;
  }

  .popover {
    z-index: 1020;
  }

  @media (max-width: 900px) {
    #add {
      display: none;
    }
    #main_row {
      width: calc(100% - 300px);
    }
  }

  @media (max-width: 600px) {
    #main_row {
      width: 100%;
    }
    .chosen {
      display: none;
    }
  }

  @media (max-width: 400px) {
    #main_row {
      padding-left: 0;
    }
    .custom-side-nav {
      display: none;
    }
    .mobile-menu {
      width: 100%;
      margin-left: -16px;
    }
  }
}
