::placeholder {
    color: #c0c0c0 !important;
    font-style: italic !important;
}

.reserve-block {
  cursor: pointer;
}

.reserve-items {
  display: none;
}

.pr-site-order-show {
  .card-scroll-window {
    height: 242px;
    overflow-y: scroll;
  }

  .card {
    box-shadow: none;
  }

  .main-workspace {
    overflow-x: auto;
    top: 65px;
    max-height: calc(100vh - 65px);
  }

  .main-workspace .row {
    display: flex;
    flex-wrap: nowrap;
  }

  .card-body {
    padding: 0.5rem ;
  }

  .card-header{
    min-height: 40px;
    padding: 0.5rem;
    background-color: #28a745;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-title{
    width: 100%;
    float: none !important;
  }

  .number_of_people_span{
    border-radius: 5px;
    background-color: white;
    padding: 4px;
    color: black;
  }

  #main_row{
    overflow: auto;
    width: 100%;
    height: 91.5vh;
    //padding-left: 4.5rem;
  }

  .application {
    width: calc(100% - 340px);
    /*margin-left: 24%;*/
    margin-left: 365px;
  }

  .application__body{
    display: flex;
    overflow: inherit;
  }

  /*   From customer.css    */

  .working_platform {
    position: fixed;
    width: 342px;
    overflow-y: auto;
    height: 90vh;
    min-width: 340px;
    z-index: 100;
    box-shadow: none;
  }

  .btn {
    box-shadow: none;
  }

  .elem_in_list {
    margin-bottom: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 1%;
  }

  .without_bc {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
  }

  .card-icons {
    width: auto;
    padding-right: 10px;
    display: inline-flex;
    justify-content: flex-end;
  }

  .card-icons-link{
    display: flex;
    align-items: baseline;
    margin-left: 5px;
  }

  .card-icons-link span{
    margin-right: 2px;
  }

  .custom-list .card-title {
    padding: 0.5rem;
    text-align: left;
  }

  .card-title.left, .card-title.text-left {
    width: 90%;
  }

  .card-title.text-left{
    width: 80%;
  }

  .card-tools.town {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .number_of_people_span {
    border: 2px solid silver;
    border-radius: 5px;
    background-color: silver;
    padding: 2px;
    color: black;
    font-weight: bold;
  }

  .card-icons-link span {
    color: black;
  }


  .input-group{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
  }

  .btn-navbar{
    color: rgba(0,0,0,.6);
    background-color: white;
    border-radius: 5px !important;
    box-shadow: none;
  }

  .color-black{
    color: black;
  }

  #app__body{
    position: relative;
  }

  /*Media*/

  @media (max-width: 1400px) {
    .application{
      /*margin-left: 27%;*/
      margin-left: 335px;
    }

    .application__header{
      justify-content: space-evenly !important;
    }

    .application__title{
      font-size: 1rem;
    }

    #main_row:not(*:root) {
      height: 89vh;
    }
  }

  @media (max-width: 1300px){

    .application{
      /*margin-left: 13px;*/
      margin-left: 300px;
      width: calc(100% - 300px);
    }

    .custom-list .card-title {
      padding: 0.2rem;
    }

    .working_platform{
      min-width: 300px;
      width: 300px;
    }

  }

  @media (max-width: 1150px){
    .working_platform{
      display: none;
    }

    .application {
      margin-left: 13px;
      width: 100%;
    }
  }

  @media (max-width: 1000px){
    .working_platform{
      display: none;
    }
  }

  @media (max-width: 900px) {
    #add{
      display: none;
    }

    #app__body{
      flex-wrap: wrap;
    }

  }

  @media (max-width: 600px){
    #main_row{
      width: 100%;
    }
  }

  @media (max-width: 400px){
    .application{
      margin-left: 0;
      width: 100%;
    }

    #main_row{
      flex-direction: column;
      padding-left: 0;
    }
  }
}

#request-publishing {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  padding: 18px 0 33px 0;
  font-family: "Open sans", sans-serif;
}

#request-publishing .request-block {
  width: 87.247%;
  max-width: 1100px;
  height: max-content;
  max-height: 662px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(77, 77, 77, 0.15);
  border-radius: 4px;
  padding: 24px 40px 36px 31px;
}

#request-publishing .request-block .page-title {
  margin: 0;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 17px;
}

#request-publishing .request-block-header {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #ebebeb;
  padding: 10px 16px;
  justify-content: space-between;
  margin-top: 23px;
}

#request-publishing .request-block-header p {
  margin: 0;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
}

#request-publishing .request-block-header span {
  color: #1970ff;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

#request-publishing .request-block-container {
  display: flex;
  margin-top: 35px;
}

#request-publishing .request-block-container .request-content {
  width: 75%;
  display: flex;
  align-items: flex-start;
}

#request-publishing .request-block-container .request-content .logo {
  width: 69px;
  border-radius: 50%;
  margin-right: 30px;
}

#request-publishing .request-block-container .request-body {
  position: relative;
  font-size: 14px;
  padding-right: 72px;
  width: 100%;
}

#request-publishing .request-block-container .request-body .subtitle {
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

#request-publishing .request-block-container .request-body .salary {
  position: absolute;
  right: 36px;
  top: 0;
  border-radius: 4px;
  background-color: #1970ff;
  line-height: 14px;
  padding: 4px 10px;
  color: #fff;
  font-size: 13px;
}

#request-publishing .request-block-container .request-body p {
  margin: 0;
}

#request-publishing .request-block-container .request-body p:first-child {
  margin-bottom: 10px;
}

#request-publishing .request-block-container .sidebar {
  width: 25%;
  border-left: 1px solid #e1e1e1;
  padding-left: 35px;
}

#request-publishing .request-block-container .sidebar .contact-person {
  font-size: 15px;
}

#request-publishing .request-block-container .sidebar .contact-person .title {
  font-weight: bold;
  margin: 0;
}

#request-publishing .request-block-container .sidebar .contact-person .initials {
  margin: 0;
}

#request-publishing .request-block-container .sidebar .contact-person .phone-number {
  margin: 0;
}

#request-publishing .request-block-container .sidebar .peoples-need {
  margin-top: 60px;
  width: 112px;
}

#request-publishing .request-block-container .sidebar .peoples-need .title {
  color: #1970ff;
  font-size: 15px;
  line-height: 16px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

#request-publishing .request-block-container .sidebar .peoples-need .count {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#request-publishing .request-block-container .sidebar .peoples-need .count img:hover {
  cursor: pointer;
}

#request-publishing .request-block-container .sidebar .peoples-need .count span {
  font-size: 15px;
}

#request-publishing .request-block-container .sidebar .to-pay {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 38px;
}

#request-publishing .request-block-container .sidebar .to-pay .title {
  font-weight: bold;
  margin: 0;
}

#request-publishing .request-block-container .sidebar .balance {
  margin: 25px 0 50px;
  font-size: 14px;
}

#request-publishing .request-block-container .sidebar .balance .title {
  margin: 0;
}

#request-publishing .request-block .buttons {
  font-size: 13px;
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

#request-publishing .request-block .buttons .public {
  color: #fff;
  line-height: 13px;
  padding: 6px 30px;
  border-radius: 14px;
  background-image: linear-gradient(to top, #1d72ff 0%, #66a1ff 100%);
}

#request-publishing .request-block .buttons .cancel {
  line-height: 11px;
  color: #1970ff;
  padding: 5px 25px;
  border-radius: 14px;
  border: 1px solid #1970ff;
  margin-left: 25px;
}

#request-publishing .request-block .buttons .public:hover, #request-publishing .request-block .buttons .cancel:hover {
  cursor: pointer;
}

#request-publishing #number-of-people {
  border: none;
  width: 30%;
  text-align: center;
}