$primaryColor: #000;
$secondaryColor: #fff;
$secondaryColorDark: #b7b7b7;
$alterColor: #3481ff;
$bgColor: $secondaryColor - 13;
$primaryFont: 'Open Sans', sans-serif;
$tablet: "max-width: 1000px";
$phone: "max-width: 768px";

.main_platforms {
  width: 100%;
  background-color: #f2f2f2;

  .platforms {
    background-color: #f2f2f2;
    padding: 30px 20px 10px 20px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px minmax(1fr, 580px);
    grid-gap: 20px;
    gap: 20px;

    > header {
      font-family: $primaryFont;
      font-weight: 700;
      font-size: 17px;
      color: $secondaryColorDark;
      height: auto;
    }

    &_list {
      position: relative;
      overflow-y: auto;
      display: grid;
      grid-template-columns: repeat(3, minmax(370px, 1fr));
      //(30+10)-паддинги; 58px - верхняя менюшка; 50px - заголовок
      max-height: calc(100vh - (30px + 10px) - 58px - 50px);
      grid-gap: 20px;
      gap: 20px;

      &_platform {
        margin-right: 10px;
        height: 580px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        gap: 30px;
        border-radius: 8px;
        background-color: $secondaryColor;
        box-shadow: 0 0 15px 0 rgba(77, 77, 77, 0.15);

        header {
          font-family: $primaryFont;
          font-weight: 700;
          font-size: 16px;
          color: $primaryColor;
          height: 40px ;
          a {
            color: $primaryColor;
          }
        }

        footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .add {
            margin-left: 0;
            width: 149px;
            height: 27px;
            border-radius: 13.5px;
            background-image: linear-gradient(to top, #1d72ff 0%, #66a1ff 100%);
            border: 0;
            color: #ffffff;
            font-family: $primaryFont;
            font-size: 13px;
            font-weight: 400;

            &:hover {
              cursor: pointer;
            }
          }

          .btn-edit {
            padding: 0;
            margin: 0;
            font-family: $primaryFont;
            font-weight: 400;
            font-size: 13px;
            color: $secondaryColorDark;
            transition-duration: 0.5s;
            background-color: transparent;
            cursor: pointer;
            border: 0;
            border-bottom: 1px solid transparent;

            &:hover {
              color: $primaryColor;
              border-bottom: 1px solid black;
            }
          }
        }

        &_top {
          display: grid;
          grid-template-columns: 1fr 1fr;

          &_logo {
            margin: auto;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100px;
            height: 100px;
            border: 2px solid $secondaryColorDark;
            border-radius: 50%;
            text-align: center;

            a {
              display: flex;
              width: 100%;
              height: 100%;
              color: $secondaryColorDark;
              text-decoration: underline;
              img{
                max-width: 100%;
              }
              p {
                margin: auto;
              }
            }
          }

          &_info {
            ul {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-bottom: 0;

              li {
                font-family: $primaryFont;
                font-weight: 400;
                font-size: 13px;
                color: $primaryColor;
                margin-bottom: 15px;

                i {
                  margin-right: 10px;
                  color: $secondaryColorDark;
                }
              }
            }
          }
        }

        &_bottom {
          &_nav {
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            button {
              font-family: $primaryFont;
              font-weight: 600;
              font-size: 14px;
              color: $primaryColor;
              border: none;
              border-bottom: 1px solid transparent;
              background-color: transparent;
              cursor: pointer;

              &.show {
                border-bottom: 1px solid $secondaryColorDark;
              }
            }
          }

          &_text {
            position: relative;
            height: 210px;
            overflow: auto;
            font-family: $primaryFont;
            font-weight: 400;
            font-size: 13px;
            color: $primaryColor;

            &::-webkit-scrollbar {
              width: 6px;

              background-color: $secondaryColor;
            }

            &::-webkit-scrollbar-track {
              border-radius: 6px;
              background: transparentize($secondaryColorDark, 0.7);
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 6px;
              background: transparentize($secondaryColorDark, 0.4);
            }

            &::-webkit-scrollbar-thumb:hover {
              background: $secondaryColorDark;
            }

            &::-webkit-scrollbar-thumb:active {
              background: linear-gradient(left, #22ADD4, #1E98BA);
            }

            & > div {
              position: absolute;
              display: none;
              top: 0;
              left: 0;

              &.show {
                display: block;
              }
            }
          }
        }
      }
    }
  }


  #pen {
    width: 13px;
  }

  .tab-content {
    height: 250px;
    overflow: auto;
    padding: 15px 5px 0 5px;

    p {
      color: #000000;
      font-family: $primaryFont;
      font-size: 13px;
      font-weight: 400;
    }
  }

  .bd-example-tabs {
    margin-top: 30px;
  }

  .platforms_list_platform.empty-platform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .add-platform {
    text-align: center;

    p {
      color: #cccccc;
      font-family: $primaryFont;
      font-size: 15px;
      font-weight: 400;
      margin-top: 17px;
    }
  }

  .add-platform:hover {
    cursor: pointer;
  }

  .platforms_list_platform_bottom_text_vacancies {
    width: 100%;
  }

  .platforms_list_platform_bottom_text_vacancies p {
    width: 90%;
  }

  .platforms_list {
    &::-webkit-scrollbar {
      width: 6px;

      background-color: $secondaryColor;
    }

    &::-webkit-scrollbar-track {
      border-radius: 6px;
      background: transparentize($secondaryColorDark, 0.7);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: transparentize($secondaryColorDark, 0.4);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $secondaryColorDark;
    }

    &::-webkit-scrollbar-thumb:active {
      background: linear-gradient(left, #22ADD4, #1E98BA);
    }
  }
}

.company-page{
  display: flex;
  height: calc(100vh - 58px) ;
}

.company-page .company-page__platforms{
  width: 356px;
  padding: 15px 15px 0 15px;
  overflow: auto;
}

.company-page__platforms .search{
  margin-bottom: 30px;
  position: relative;
}

.company-page__platforms .search input{

  width: 100%;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: 0;
  height: 32px;
  padding: 7px 10px;
  color: #999999;
  font-family: $primaryFont;
  font-size: 13px;
  font-weight: 400;
}

#search{
  position: absolute;
  right: 14px;
  top: 10px;
}

.platforms__list .platform{
  /*margin-bottom: 10px;*/
  margin: 0 -15px 10px;
}

.platform__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  border-bottom: 1px solid #e1e1e1;
}

.platform__title{
  margin: 0;
  color: #525252;
  font-family: $primaryFont;
  font-size: 14px;
  font-weight: 500;
  a {
    color: #525252;
  }

  .current_production_sites{
    font-weight: 700 !important;

    &::before {
      content: '\2022';
      margin-right: 5px;
    }
  }
}

.platform__body{
  background-color: #e6e6e6;
  padding: 10px 15px 0 15px;
  height: 420px;
  overflow: auto;
}

.platform__body .content{
  border: 0;
  margin: 0;
  border-radius: 4px;
  background-color: #ffffff;
  border-left: 5px solid #00ca5f;
}

.platform__body .order__statistic{
  /*width: 50%;*/
  justify-content: left;
  margin-top: 10px;
}

.platform__body .order{
  margin-bottom: 10px;
}

.rotated{
  transform: rotateX(180deg);
}

.company-page__tabs{
  width: calc(100% - 356px);
  background-color: #f2f2f2;
}

.company-page__tabs .header{
  display: flex;
  padding: 20px 35px 0 20px;
}

.item-type{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 7px;
  padding: 24px;
  box-shadow: 0 0 15px rgba(77, 77, 77, 0.15);
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  font-family: $primaryFont;
  font-size: 16px;
  font-weight: bold;
  max-height: 78px;
  min-width: 163px;
  span{
    line-height: 18px;
  }
}

.item-type.active::after{
  position: absolute;
  bottom: -10px;
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 1px;
}

.template.active::after{
  background-color: #ff2400;
}

.pending_payment.active::after {
  background-color: #FFA500;
}

.modernization.active::after{
  background-color: #FFFF00;
}

.published.active::after{
  background-color: #00ca5f;
}

.completed.active::after{
  background-color: #C0C0C0;
}

.item-type:hover{
  cursor: pointer;
}

.order input[type="checkbox"]{
  position: static;
  opacity: 1;
  pointer-events: auto;
}

.orders-list{
  padding: 0 25px;
}

.orders-list__header{
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 12px;
}

.orders-list__header .activities:first-child{
  display: flex;
  align-items: center;
}

#copy, #delete{
  width: 116px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0  0 15px;
}

#copy:hover, #delete:hover{
  background-color: #e6e6e6;
  cursor: pointer;
}

#copy span, #delete span{
  margin-left: 10px;
  color: #000000;
  font-family: $primaryFont;
  font-size: 14px;
  font-weight: 400;
}

.publish{
  width: 187px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #1970ff;
  color: #1970ff;
  font-family: $primaryFont;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.publish:hover{
  cursor: pointer;
}

.order{
  display: flex;
  align-items: center;

}

.order-list__body{
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  height: calc(100vh - 200px);
}

.order-list__body .order{
  margin-bottom: 10px;
}

.content{
  width: 100%;
  margin-left: 7px;
  display: flex;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 10px;

  &__template{
    border-left: 5px solid #ff2400;
  }

  &__pending_payment {
    border-left: 5px solid #FFA500;
  }

  &__modernization{
    border-left: 5px solid #FFFF00;
  }

  &__published{
    border-left: 5px solid #00ca5f;
  }

  &__completed{
    border-left: 5px solid #C0C0C0;
  }
}

.order__description{
  width: 100%;
}

.order__title{
  margin-top: 0;
  margin-bottom: 15px;
  font-family: $primaryFont;
  font-size: 15px;
  font-weight: bold;
}

.order__number{
  padding: 0 20px 0 10px;
  color: #000000;
  font-family: $primaryFont;
  font-size: 13px;
  font-weight: bold;
}

.order__price{
  border-radius: 4px;
  background-color: #1970ff;
  color: #ffffff;
  font-family: $primaryFont;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 8px;
}

.order__statistic{
  display: flex;
  justify-content: space-around;
  width: 160px;

}

.order__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order__statistic .element{
  margin-right: 10px;
}

.element i{
  color: #afafaf;
}

.element span{
  color: #000000;
  font-family: $primaryFont;
  font-size: 13px;
  font-weight: 400;
}

.show-tab{
  display: block !important;
}

.order-list__body{
  display: none;
}

#check_all{
  position: static;
  opacity: 1;
  pointer-events: auto;
}

.platforms__list .platform:last-child{
  margin-bottom: 0;
}

.platform__body{
  &::-webkit-scrollbar {
    width: 6px;

    background-color: $secondaryColor;
  }
  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.7);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondaryColorDark;
  }

  &::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
  }
}

.company-page__platforms{
  &::-webkit-scrollbar {
    width: 6px;

    background-color: $secondaryColor;
  }
  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.7);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondaryColorDark;
  }

  &::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
  }
}

.order-list__body{
  &::-webkit-scrollbar {
    width: 6px;

    background-color: $secondaryColor;
  }
  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.7);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondaryColorDark;
  }

  &::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
  }
}

@media (max-width: 1255px){
  .company-page__tabs .header {
    padding-top: 10px;
    flex-wrap: wrap;
  }
  .item-type{
    padding: 10px;
    margin-bottom: 10px;
  }
  .item-type.active::after{
    bottom: -5px;
  }
}

@media (max-width: 900px){
  .company-page .company-page__platforms{
    width: 260px;
  }
  .order__number{
    padding: 0 5px 0;
  }
  .company-page__platforms .search{
    margin-bottom: 5px;
  }
  .company-page__tabs{
    width: calc(100% - 260px);
  }
  .orders-list__header{
    margin-top: 0;
  }
}

@media (max-width: 848px){
  .order-list__body{
    height:  calc(100vh - 206px)
  }
}

@media (max-width: 768px){
  .orders-list__header{
    flex-wrap: wrap-reverse;
  }
  .order-list__body{
    height:  calc(100vh - 236px)
  }
}

@media (max-width: 700px) {
  .company-page{
    flex-direction: column;
  }
  .company-page .company-page__platforms{
    width: 100%;
    height: auto;
  }
  .company-page__tabs{
    width: 100%;
  }
  .order-list__body {
    height: 450px;
  }
  .orders-list{
    padding: 0 10px;
  }
}

@media (max-width: 488px){
  .activities{
    width: 100%;
  }
  .publish{
    margin: auto;
  }
}

@media (max-width: 400px) {
  .order__title{
    margin-bottom: 5px;
  }
  .order__bottom{
    flex-wrap: wrap-reverse;
  }
  .order__statistic{
    margin-bottom: 5px;
  }
  .company-page__tabs .header{
    justify-content: center;
  }
}

/*     production_sites/orders       */

.company-page.orders{
  height: calc(100vh - 58px) ;
  width: 100%;
}

.company-page.orders .company-page__platforms{
  height: calc(100vh - 58px);
  width: 318px;
}

.requests-part .header span:last-child{
  border-radius: 4px;
  background-color: #1970ff;
  color: #ffffff;
  font-family: $primaryFont;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 8px;
  margin-left: auto;
}

.requests-part .header span:first-child{
  margin-right: 3.208%;
}

.requests-part .header{
  display: flex;
  padding: 10px 15px;
  border-radius: 4px;
  align-items: center;
  border-left: 5px solid #ff2400;
  background-color: #fff;

  &__waiting_for_payment {
    border-left: 5px solid #FFA500;
  }

  &__moderation {
    border-left: 5px solid #FFFF00;
  }

  &__published {
    border-left: 5px solid #00ca5f;
  }

  &__completed {
    border-left: 5px solid #C0C0C0;
  }
}

.requests-part .header p{
  margin: 0;
}

.requests-part{
  width: calc(100% - 318px);
  background-color: #f2f2f2;
  padding: 20px 15px 0 15px;
  box-sizing: border-box;
}

.requests-part__body .column{
  background-color: #E6E6E6;
  width: 25%;
  margin-right: 15px;
  border-radius: 4px;
  min-width: 225px;
  height: calc(100vh - 148px);
  padding-bottom: 5px;
  z-index: 0;
}

.requests-part__body .column:last-child{
  margin-right: 0;
}

.column__title{
  padding: 15px 5px;
}

.column:first-child .column__title{
  border-bottom: 1px solid #d7d7d7;
}

.column__title p{
  margin: 0;
  text-align: center;
  color: #000000;
  font-family: $primaryFont;
  font-size: 15px;
  font-weight: 800;
  i{
    margin-right: 2px;
    font-size: 13px;
  }
}

.column > p{
  text-align: center;
}

.requests-part__body{
  display: flex;
  margin-top: 15px;
  position: relative;
}

.request{
  position: relative;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  width: 95%;
  margin: 0 auto 8px;
}

.request_data_time {
  text-align: center;
}

.request__title{
  margin: 0;
  color: #000000;
  font-family: $primaryFont;
  font-size: 14px;
  font-weight: 700;
  width: 90%;
}

.request textarea{
  width: 100%;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  padding: 5px 7px;
  resize: none;
  height: 61px;
  color: #c2c2c2;
  font-family: $primaryFont;
  font-size: 13px;
  font-style: italic;
}

.request__footer{
  display: flex;
  align-items: center;
  .request-logo{
    margin-right: 5.7971%;
    max-width: 27px;
  }
}


.request-user-name{
  margin: 0;
}

.phone-number{
  color: #000000;
  font-family: $primaryFont;
  font-size: 14px;
  font-weight: 400;
}

.add-personal{
  color: #8d8d8d;
  font-family: $primaryFont;
  font-size: 14px;
  font-weight: 700;
}

.add-personal:hover{
  cursor: pointer;
}

.peoples-left{
  color: #000000;
  font-family: $primaryFont;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.request__footer{
  margin: 8px 0;
}

.column__body{
  overflow: auto;
}

.column .column__body{
  height: calc(100% - 47px);
  &::-webkit-scrollbar {
    width: 6px;

    background-color: $secondaryColor;
  }
  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.7);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondaryColorDark;
  }

  &::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
  }
}

.column:first-child .column__body{
  height: calc(100% - 128px);
}

#request-part-number, #request-part-title{
  color: #000000;
  font-family: $primaryFont;
  font-size: 14px;
  font-weight: bold;
}

.requests-part__body .buttons{
  position: absolute;
  bottom: 15px;
  right: 20px;
  display: flex;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.requests-part__body .buttons img{
  margin: 0 5px;
}

#redact, #info, #close-request{
  box-shadow: 0 0 14px 1px rgba(77, 77, 77, 0.3);
  border-radius: 15px;
  padding: 4px 8px;
  color: white;
  display: flex;
  align-items: center;
}

#redact{
  background-color: #00ca5f;
}

#info{
  background-color: #1970ff;
  margin: 0 7px;
}

#close-request{
  background-color: #ff5b01;
}

.card-dropdown{
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-dropdown__btn{
  color: #cccccc;
  font-weight: bold;
}

.card-dropdown .dropdown-item{
  color: #000000;
  font-family: $primaryFont;
  font-size: 14px;
}

.personal-info {
  padding: 15px;
}

.request-user-name{
  color: #000000;
  font-family: $primaryFont;
  font-size: 13px;
  font-weight: bold;
}

#ui-id-1 {
  width: 371px;
}

.orders-list__body-scrolling{
  height: calc(100vh - 250px);
  width: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;

    background-color: $secondaryColor;
  }

  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.7);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondaryColorDark;
  }

  &::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
  }
}

.nothing-to-show{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color:  #b7b7b7;
  font-weight: bold;
}

@media (max-width: 1320px) {
  .requests-part__body{
    overflow: auto;
  }
  .requests-part .header{
    flex-wrap: wrap;
  }
}

@media (max-width: 1117px) {
  .requests-part__body .column{
    height: calc(100vh - 110px);
  }
  .requests-part .header span:last-child{
    margin: auto;
  }
}

@media (max-width: 900px) {
  .requests-part{
    width: calc(100% - 260px) ;
  }
}

@media (max-width: 700px) {
  .requests-part{
    width: 100%;
  }
  .company-page.orders .company-page__platforms{
    width: 100%;
    height: auto;
    overflow: unset;
  }
}
