.production-site-show {
  .card-scroll-window {
    height: 265px;
    overflow-y: auto;
  }

  .working_platform {
    width: 30%;
    overflow-y: auto;
    height: 100vh;
    min-width: 325px;
    box-shadow: none;
  }

  .main-workspace {
    overflow-x: auto;
    width: 100%;
    max-height: calc(100vh - 65px);
  }

  .main-workspace .row {
    display: flex;
    flex-wrap: nowrap;

  }

  .card-header {
    background-color: #28a745;
  }

  .card-body {
    padding: 0.5rem;
  }

  .card-tools {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .card-header {
    min-height: 45px;
    padding: 0.2rem;
  }

  .card-header p {
    margin-bottom: 0;
  }

  .card-title {
    font-size: 1.25rem;
  }

  .card-title {
    width: 90%;
  }

  .number_of_people_span {
    border: 2px solid silver;
    border-radius: 5px;
    background-color: silver;
    padding: 2px;
    color: black;
    font-weight: bold;
  }

  .custom-list .card-title {
    padding: 0.75rem;
    text-align: left;
  }

  .custom-list {
    box-shadow: none;
  }

  .custom-list > .card-body{
    background-color: #e1e2e6;
  }

  .custom-container {
    width: 75%;
    margin-left: 10px;
  }

  .tables {
    padding: 2px;
    text-align: left;
  }

  .content {
    border: 1px solid;
    position: relative;
  }

  .without_bc {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
    padding: 10px 0 0 10px;
  }

  .without_bc .card-title {
    font-size: 1.1rem;
  }

  .elem_in_list {
    margin-bottom: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 1%;
  }

  .content__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }

  .content__title {
    text-align: left;
  }

  .content__town p, .content__email p, .content__phone_number p {
    margin-bottom: 0;
  }

  .content__description {
    margin: 15px auto;
    max-width: 900px;
  }

  .carousel {
    width: 80%;
    margin: 10px auto;
  }

  .town {
    text-align: left;
  }

  .content__title {
    margin-bottom: 0;
  }

  .card-icons {
    width: auto;
    padding-right: 10px;
    display: inline-flex;
    justify-content: flex-end;
  }

  .card-icons-link {
    display: flex;
    align-items: baseline;
    margin-left: 5px;

    span {
      margin-right: 2px;
    }
  }

  .elem_in_list .card-title {
    cursor: pointer;
  }

  .card-icons-link span {
    color: black;
  }

  .blue-title {
    background-color: #3c8dbc !important;
  }

  .yellow-title {
    background-color: #d0c71b !important;
  }

  .orange-title{
    background-color: #FF6840 !important;
  }

  .green-title{
    background-color: #22884F !important;
  }

  .gray-title{
    background-color: gray;
  }

  .blue-title, .orange-title, .green-title, .gray-title, .yellow-title {
    padding: 10px 0 0 10px;
  }

  .color-black {
    color: black;
  }

  .btn-navbar {
    color: rgba(0,0,0,.6);
    background-color: white;
    border-radius: 5px !important;
    box-shadow: none;
  }

  .input-group {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
  }

  .mybtn {
    background-color: transparent;
    border: none;
    color: white;
  }

  .mybtn:hover{
    cursor: pointer;
  }

  #main_row{
    padding-left: 0.5rem;
  }

  .card-tools.town{
    top: 15px;
  }

  /* Chrome */

  .flex-center:not(*:root) {
    height: auto !important;
  }

  @media (max-width: 1000px) {
    .working_platform {
      display: none;
    }

    .custom-container {
      width: 100%;
    }

    .content__title {
      font-size: 1.5rem;
    }

    .content__header-left {
      width: 50%;
    }
  }

  @media (max-width: 1250px) {
    .custom-list .card-title {
      padding: 0.5rem 0.5rem 0.5rem 0 !important;
    }

    .card-icons {
      padding-right: 5px;
    }

    .content__description {
      padding: 10px;
    }

    .content__town, .content__phone_number, .content__email {
      font-size: 14px;
    }

    .content__title {
      font-size: 23px;
    }
  }

  @media (max-width: 570px) {
    .content {
      display: none;
    }
  }

  @media (max-width: 350px) {
    .card-icons {
      display: none;
    }
  }
  /* Chrome */

  .flex-center:not(*:root) {
    height: auto !important;
  }
}
