#proposal_employees, #candidates {
  .filters-elem, .status {
    padding: 5px;
  }

  tr.hoverable:hover {
    background-color: white;
  }

  .filters__title {
    padding-left: 15%;
  }
  
  .profession {
    color: black;
    font-weight: bolder;
  }

  @media (max-width: 1200px) {
    .profession {
      font-size: 0.9rem;
    }
  }
  
  #personal_position {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .form-check-inline {
    margin-right: 0;
  }
}

#proposal_employees .form-check-inline {
  width: 70%;
}

#candidates .form-check-inline {
  width: 90%;
}