#proposal_employees, #candidates {
  .filters-elem, .status {
    padding: 5px;
  }

  tr.hoverable:hover {
    background-color: white;
  }

  .filters__title {
    padding-left: 15%;
  }
  
  .profession {
    color: black;
    font-weight: bolder;
  }

  @media (max-width: 1200px) {
    .profession {
      font-size: 0.9rem;
    }
  }

  .form-check-inline {
    margin-right: 0;
  }
}

#proposal_employees .form-check-inline {
  width: 70%;
}

#candidates {
  form {
    .form-check-inline {
      width: 90%;
    }

    label {
      height: auto;
      &:before {
        top: auto;
      }
    }
  }
}

#worksheet{
  width: 100%;
  padding: 15px 15px 0 15px;
  background-color: #f2f2f2;
  height: calc(100vh - 58px);
  position: relative;
  font-family: "Open Sans", sans-serif;


  .header{
    position: relative;
    border-radius: 4px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .filters {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    position: relative;
    cursor: pointer;
  }

  .filters > p{
    margin: 0 10px 0 0;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  .search{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 35px;
  }

  .search input{
    border: 0;
    border-bottom: 1px solid #a2a2a2;
    color: #999999;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: 274px;
  }

  .search img{
    position: absolute;
    top: 3px;
    right: 3px;
  }

  .show {
    .btn-sm {
      padding: 0.3rem 1.6rem;
      margin-left: 35px;
    }
  }

  .worksheets__titles{
    display: flex;
    border-radius: 4px 4px 0 0;
    background-color: #e6e6e6;
    margin-top: 12px;
  }

  .worksheets__title p{
    margin: 0;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  .worksheets__title{
    padding: 10px;
  }

  .worksheets__title{
    width: 25%;
  }

  .worksheets__title:first-child{
    width: 12.5%;
  }

  .worksheets__title:last-child{
    width: 37.5%;
  }

  .worksheets{
    height: 86%;
  }

  .worksheets__body{
    background-color: #fff;
    height: calc(100% - 38px);
    overflow: auto;
  }

  .worksheets__item{
    display: flex;
    padding-left: 10px;
  }

  .worksheets__item:nth-child(2n){
    background-color: #fbfbfb;
  }

  .worksheets__item .info{
    width: calc(25% ) ;
    padding: 10px;
    font-weight: bold;
  }

  .worksheets__item .info:first-child{
    width: calc(12.5% ) ;
  }

  .worksheets__item .info:last-child{
    width: calc(37.5% );
  }

  .filters-dropdown{
    position: absolute;
    bottom: -100%;
    left: 0;
    display: none;
    background-color: white;
    padding: 5px;
  }

  .filters-dropdown input {
    opacity: 1;
    position: static;
    pointer-events: auto;
  }

  .filters-dropdown p, .filters-dropdown p label {
    &:hover {
      color: blue;
    }

    cursor: pointer !important;
  }

  .filters-show{
    display: flex;
    max-width: 100%;
  }

  .filters-dropdown > p{
    margin: 4px 15px;
    display: flex;
    white-space: nowrap;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
  }

  .filters-dropdown > p i{
    margin-right: 5px;
    margin-left: 5px;
  }

  .info{
    font-size: 14px;
  }

  .info i {
    margin-right: 10px;
  }

  .worksheets__item .info:first-child{
    > span{
      font-weight: bold;
      font-size: 13px;
    }
    .date {
      font-weight: normal;
    }
  }

  #filters{
    font-weight: bold;
    font-size: 16px;
    margin: 0 10px 0 0;
  }

  .worksheets__body{
    //padding-left: 10px;
  }

  .worksheets__titles{
    padding-left: 10px;
  }

  .filters-dropdown p label{
    margin-bottom: 0;
  }

  .worksheets__body{
    &::-webkit-scrollbar {
      width: 6px;

      background-color: $secondaryColor;
    }
    &::-webkit-scrollbar-track {
      border-radius: 6px;
      background: transparentize($secondaryColorDark, 0.7);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: transparentize($secondaryColorDark, 0.4);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $secondaryColorDark;
    }

    &::-webkit-scrollbar-thumb:active {
      background: linear-gradient(left, #22ADD4, #1E98BA);
    }
  }

  .worksheets__item:hover{
    //box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.55s ease-in-out;
    cursor: pointer;
  }

}


#acts {
  background-color: #f2f2f2;
  padding: 0 15px 15px 15px;
  font-family: "Open-sans", sans-serif;
  min-height: 100%;
  width: 100%;
}

#acts .user-info {
  display: flex;
  margin-bottom: 20px;
  padding-top: 20px;
}

#acts .logo {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin: 0 18px 0 20px;
}

#acts .logo img {
  width: 100%;
  object-fit: cover;
}

#acts .details p {
  margin: 0;
  font-size: 14px;
}

#acts .user-name {
  font-weight: bold;
}

#acts .textGreen {
  color: #00ca39;
  font-weight: bold;
  margin-left: 5px;
}

#acts .long-block {
  box-shadow: 0 0 8px rgba(113, 113, 113, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  width: 100%;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-left: 5px solid #00ca5f;

  .order-title:hover {
    color: #212529
  }
}

#acts .long-block .number {
  font-size: 15px;
  font-weight: bold;
}

#acts .long-block .title {
  font-size: 15px;
  font-weight: bold;
}

#acts .long-block .number-of-workers {
  font-size: 13px;
  font-weight: bold;
}

#acts .long-block .human-price {
  border-radius: 4px;
  background-color: #1970ff;
  font-size: 13px;
  color: white;
  padding: 2.5px 10px;
  white-space: nowrap;
}

#acts .long-block .price {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

#acts .long-block div:first-child {
  width: 50%;
}

#acts .long-block div:last-child {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#acts .short-block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#acts .short-block .short-block__content {
  box-shadow: 0 0 8px rgba(113, 113, 113, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  width: 64%;
  padding: 8px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#acts .short-block .short-block__content .data {
  display: flex;
}

#acts .short-block .short-block__content .data p {
  margin: 0;
  font-size: 14px;
}

#acts .short-block .short-block__content i {
  margin-right: 10px;
  margin-top: 2px;
}

#acts .short-block .short-block__content .hire-data p {
  margin: 0;
  font-size: 13px;
  text-align: center;
}

#acts .short-block .initials {
  font-weight: bold;
}

#acts .short-block .subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #1970ff;
  font-size: 13px;
  margin-left: 20px;
}

#acts .textGray {
  color: #b7b7b7;
}

#acts .all {
  display: flex;
  width: 34.3%;
  margin-left: auto;
  align-items: center;
  margin-bottom: 15px;
}

#acts .subscribe-all {
  width: 132px;
  height: 30px;
  border-radius: 15px;
  background-color: #1970ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 13px;
  margin-right: 40px;
}

#acts .all-price {
  margin: 0;
  font-weight: bold;
}

#acts hr {
  border-top: 1px solid #dbdbdb;
  margin: 0;
}

#acts .number, #acts .initials span{
  margin-right: 5px;
}

@media (max-width: 950px) {
  #acts .all {
    width: 100%;
    justify-content: center;
  }

  #acts .long-block div:last-child {
    width: 50%;
  }
}

@media (max-width: 700px) {
  #acts .long-block {
    flex-direction: column;
  }

  #acts .long-block > div:first-child {
    width: 100%;
  }

  #acts .long-block > div:last-child {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  #acts .short-block {
    flex-direction: column;
  }

  #acts .short-block .short-block__content {
    width: 100%;
  }

  #acts .short-block .subscribe {
    margin-left: 0;
    margin-top: 10px;
  }

  #acts .long-block {
    padding: 10px;
  }
}

@media (max-width: 380px) {
  #acts .long-block > div:last-child {
    flex-wrap: wrap;
  }

  #acts .long-block > div:last-child > span {
    display: block;
    margin: 2.5px 10px;
  }

  #acts .all {
    flex-direction: column;
    padding-top: 15px;
  }

  #acts .subscribe-all {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #acts .user-info {
    justify-content: center;
  }

  #acts .logo {
    margin-left: 0;
  }
}