#ticket_page {
  background-color: #f5f5f5;

  .col-9 {
    form {
      span {
        width: 20% !important;
      }
    }

    .form-inline {
      background-color: white;
    }
    
    #ticket-messages {
      overflow-y: auto;
      height: 72vh;
      display: flex !important;
      flex-direction: column !important;
      justify-content: safe flex-end !important;
    
      .ticker-message {
        border: 1px solid silver;
        border-radius: 10px;
      }

      .answers {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 5px;
        padding: 5px;
        border: 1px solid silver;
        border-radius: 5px;
        transition: 0.5s;
  
        &:hover {
          background-color: silver;
        }
  
        a {
          color: black;
        }
      }
    }
  }

  #right-part {
    border-radius: 5px;
    border: 1px solid silver;
  
    .card-header {
      padding: 0.5rem;
      background-color: #28a745;
      font-size: 1.25rem;

      .card-tools button {
        background-color: #28a745;
        border: none;
      }

      #production-site {
        background-color:silver;
        padding: 4px;
        color:black;
        font-weight: bold;
      }

      p {
        margin-bottom: 0;
      }
    }

    .card-wrapper {
        border: 1px solid;
        border-radius: 3px;

      .cart-wrapper__title {
        border-bottom: 1px solid silver;
      }
    }
  }

}

#main_treatment {
  padding: 16px 12px;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 275px;
  grid-gap: 15px;
  gap: 15px;
  background-color: #f2f2f2;
  //height: calc(100% - 58px);
  height: 100%;
  font-family: "Open Sans", sans-serif;

  .badge{
    display: flex;
    max-width: 78px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    box-shadow: unset !important;
    &.open{
      background-color: green;
    }
    &.close{
      background-color: red;
    }
  }

  #search-input{
    position: relative;
  }
  .search-img{
    position: absolute;
    top: 8px;
    right: 4px;
  }
  .btn-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $primaryFont;
    font-weight: 600;
    font-size: 14px;
    color: $alterColor;
    border: 1px solid $alterColor;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.3s;
    &:active{
      background-color: $secondaryColorDark;
    }
  }
  >section{
    padding: 10px 20px;
    border-radius: 4px;
    width: 100%;
    background-color: $secondaryColor;
    box-shadow: 0 0 15px 0 rgba(77, 77, 77, 0.15);
  }
  .treatment_search{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 20px;
    &_input{
      margin: auto 0;
      position: relative;
      max-width: 280px;
      margin-right: 36px;
      color: $secondaryColorDark;
      i{
        margin-right: 10px;
        transition-duration: 0.5s;
        &:after{
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          display: block;
          width: 100%;
          height: 1px;
          background-color: $secondaryColorDark;
          transition-duration: 0.5s;
        }
      }
      input[type="search"]{
        padding-left: 5px;
        font-family: $primaryFont;
        font-weight: 400;
        font-size: 13px;
        border: none;
        border-bottom: 1px solid #a2a2a2;
        background-color: transparent;
        &:focus{
          &+i{
            color: $primaryColor;
            &:after{
              background-color: $primaryColor;
            }
          }
        }
      }
    }
    &_checkboxes{
      margin: auto 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 220px;
      font-family: $primaryFont;
      font-weight: 400;
      font-size: 15px;
      color: $primaryColor;
      &_block{
        display: flex;
        input[type="checkbox"]{
          display: none;
          &:checked{
            &+label{
              border: 1px solid $primaryColor;
              i{
                display: block;
              }
            }
          }
        }
        label{
          margin: auto 0;
          padding-bottom: 1px;
          &.pseudoCheckbox{
            overflow: hidden;
            position: relative;
            padding: 0;
            margin-right: 10px;
            display: block;
            width: 15px;
            height: 15px;
            border: 1px solid $secondaryColorDark;
            border-radius: 4px;
            cursor: pointer;
            i{
              display: none;
              position: absolute;
              top: -1px;
              left: -1px;
            }
            &:hover{
              border: 1px solid $primaryColor;
            }
          }
        }
      }
    }
  }

  .treatment_list{
    padding: 0;
    position: relative;
    background-color: transparent;
    box-shadow: none;
    &_new{
      position: absolute;
      right: 0;
      top: 5px;
      button{
        height: 28px;
        width: 177px;
        border-radius: 4px;
      }
    }
    &_tabs{
      >div{
        z-index: 5;
        margin-top: -2px;
        position: relative;
        display: none;
        background-color: $secondaryColor;
        border-radius: 4px;
        max-height: calc(100vh - 58px - 16px*2 - 40px - 15px - 40px - 20px);
        overflow: auto;
        //box-shadow: 0 0 15px 0 rgba(77, 77, 77, 0.15);
        table{
          thead{
            border-radius: 4px 4px 0 0;
          }
        }
      }
      label{
        z-index: 4;
        padding: 0 20px;
        display: inline-block;
        height: 40px;
        margin-bottom: 0;
        font-family: $primaryFont;
        font-weight: 400;
        font-size: 15px;
        line-height: 40px;
        color: $primaryColor;
        background-color: transparent;
        border-radius: 4px 4px 0 0;
        cursor: pointer;
        &:hover{
          background-color: transparentize($secondaryColorDark, 0.7);
        }
      }
      input[type="radio"]{
        display: none;
        &:checked+label{
          background-color: $secondaryColor;
        }
      }
      #treatment-tab-table {
        display: block;
        &::-webkit-scrollbar {
          width: 6px;
          background-color: $secondaryColor;
        }
        &::-webkit-scrollbar-track {
          border-radius: 6px;
          background: transparentize($secondaryColorDark, 0.7);
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 6px;
          background: transparentize($secondaryColorDark, 0.4);
        }

        &::-webkit-scrollbar-thumb:hover {
          background: $secondaryColorDark;
        }

        &::-webkit-scrollbar-thumb:active {
          background: linear-gradient(left, #22ADD4, #1E98BA);
        }
      }
    }
    &_modal{
      top: 0;
      left: 0;
      z-index: 100;
      position: fixed;
      display: flex;
      height: 100%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition-duration: 0.6s;
      &.show{
        opacity: 1;
        visibility: visible;
      }
      .treatment-modal{
        &_back{
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: transparentize($primaryColor, 0.7);
        }
        &_block{
          margin: auto;
          padding: 40px 10px 10px 10px;
          position: relative;
          width: 90vw;
          max-width: 664px;
          height: 90vh;
          max-height: 525px;
          background-color: $secondaryColor;
          border-radius: 4px;
          margin-top: 70px;
          &_wrapper{
            margin: auto;
            overflow-y: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto 1fr;
            grid-gap: 26px;
            width: 100%;
            max-width: 490px;
            height: 100%;
            .btn{
              margin: auto;
              width: 170px;
              height: 32px;
              border-radius: 16px;
              display: block;
              text-align: center;
              font-family: "Open Sans", sans-serif;
              font-weight: 400;
              font-size: 13px;
              line-height: 27px;
              text-transform: capitalize;
              color: #fff;
              border: none;
              background: linear-gradient(#1970ff 0%, #68a2ff 50%, #1970ff 100%);
              background-size: 200% 200%;
              background-position: 0 100%;
              cursor: pointer;
              padding: 0;
              box-shadow: unset;
            }
            .btn-close{
              right: 12px;
              top: 19px;
              padding: 0;
              position: absolute;
              display: block;
              width: 14px;
              height: 14px;
              overflow: hidden;
              background-color: transparent;
              border: none;
              cursor: pointer;
              span{
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                hr{
                  top: 50%;
                  left: 50%;
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  border: none;
                  background-color: #b7b7b7;
                  transition-duration: 0.5s;
                  margin: 0;
                }
                hr:first-child{
                  transform: translate(-50%, -50%) rotate(45deg);
                }
                hr:last-child{
                  transform: translate(-50%, -50%) rotate(-45deg);
                }
              }
            }
            header{
              font-family: $primaryFont;
              font-weight: 700;
              font-size: 16px;
              color: $primaryColor;
            }
            &_input{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              flex-wrap: wrap;
              align-items: flex-start;
              label{
                font-family: $primaryFont;
                font-weight: 600;
                font-size: 14px;
                color: $primaryColor;
                min-width: 45px;
                margin-top: 0.5rem;
                margin-bottom: 0;
              }
              input[type="text"], textarea{
                width: 100%;
                max-width: 420px;
                font-family: $primaryFont;
                font-weight: 400;
                font-size: 14px;
                color: $primaryColor;
                border: 1px solid $secondaryColorDark;
                border-radius: 4px;
                &:focus{
                  border: 1px solid $primaryColor;
                }
                &:hover{
                  border: 1px solid $primaryColor;
                }
              }
              input[type="text"]{
                padding: 0 15px;
                height: 38px;
              }
              textarea{
                padding: 10px;
                overflow-y: auto;
                height: 215px;
                resize: none;
                &::placeholder{
                  font-style: normal !important;
                }
              }
            }
          }
        }
      }
    }
  }

  table{
    &.table{
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 0;
      thead{
        text-align: left;
        height: 35px;
        font-family: $primaryFont;
        font-weight: 600;
        font-size: 14px;
        color: $primaryColor;
        //background-color: transparentize($secondaryColorDark, 0.3);
        background-color: rgb(230,230,230);
        border-radius: 4px 4px 0 0;
        th{
          padding: 5px 0 5px 20px ;
          font-weight: bold;
          border-bottom: 0;
        }
      }
      tbody{
        tr{
          height: 50px;
          td{
            padding-left: 20px;
            font-family: $primaryFont;
            font-weight: 400;
            font-size: 14px;
            color: $primaryColor;
            border: 0;
          }
          &:nth-child(2n){
            background-color: #fbfbfb;
          }
        }
      }
      &.bold{
        tbody{
          tr{
            td{
              &:first-child{
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    @media(max-width: 640px){
      thead{
        th{
          min-width: 80px;
          padding-left: 5px;
        }
      }
      tbody{
        tr{
          height: 35px;
          td{
            min-width: 80px;
            padding-left: 5px;
          }
          &:nth-child(even){
            background-color: transparentize($secondaryColorDark, 0.8);
          }
        }
      }
    }
  }

  @media(max-width: 768px){
    position: relative;
    height: calc(100vh - 58px);
    grid-template-rows: minmax(auto, 80px) auto;
    grid-gap: 32px;
    gap: 32px;
    overflow-x: hidden;
    .treatment_search{
      padding: 10px;
    }
    .treatment_list{
      &_new{
        top: -2px;
        transform: translate(0, -100%);
      }
      &_tabs{
        >div{
          width: 100%;
          /*calc: 58px - header, 16px*2 - padding, 80px - search,
          30px - gap, 26px - labels, 20px - paginator*/
          max-height: calc(100vh - 58px - 16px*2 - 80px - 30px - 26px - 20px);
          max-width: 96vw;
          table{
            thead{
              tr{
                th{
                  padding: 0 5px;
                  &:first-child{
                    min-width: 30px !important;
                    width: 30px;
                  }
                }
              }
            }
            tbody{
              tr{
                td{
                  padding: 0 5px;
                  &:first-child{
                    min-width: 30px !important;
                    width: 30px;
                  }
                }
              }

            }
          }
        }
        label{
          padding: 0 5px;
          height: 26px;
          line-height: 20px;
        }
      }
    }
  }
  @media(max-width: 510px){
    .treatment_search{
      height: auto;
      flex-direction: column;
      justify-content: flex-start;
      &_input{
        margin-bottom: 10px;
      }
    }
  }
}

.text-input textarea::placeholder,
.search-input::placeholder{
  color: #c0c0c0 !important;
  font-style: normal !important;
}

#chat-room {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  font-family: "Open sans", sans-serif;
  @media (max-width: 992px) {
    height: auto;
    flex-direction: column-reverse;
  }

  a.disabled, .disabled {
    color: gray !important;
  }

  .card-tools {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(150%);
    z-index: 10;
    button {
      border: 0;
      background-color: transparent;
      color: gray;
    }
    .dropdown-menu {
      transform: translate3d(-130px, 26px, 0px) !important;
    }
  }

  .chat-sidebar {
    .request-wrap-for-date {
      position: relative;
      z-index: 0;
    }
    .request-date-in-wrap {
      position: absolute;
      right: 7px;
      bottom: 7px;
      color: #8d8d8d;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

#chat-room .chat-body {
  width: 72.05%;
  margin: 15px;
  background-color: #fff;
  border-radius: 4px;
  @media (max-width: 992px) {
    width: 100%;
    margin: 20px 0 0 0;
  }

  .dispute-closed {
    text-align: center;
    margin-top: 70px;
  }
}

#chat-room .chat-sidebar {
  width: 27.5%;
  border-radius: 4px;
  background-color: #e6e6e6;
  margin: 15px 15px 15px 0;
  @media (max-width: 992px) {
    width: 100%;
    margin: 0;
  }
}

#chat-room .chat-sidebar-header {
  position: relative;
  display: flex;
  min-height: 8.5798%;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 3% 0 3% 6%;
  img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    max-width: 65px;
    margin-right: 4.65%;
    border-radius: 50%;
  }
}

#chat-room .chat-sidebar-header-city {
  //position: absolute;
  //right: 12px;
  //top: 15px;
  color: black;
  font-size: 13px;
  line-height: 18px;
  margin-top: 10px;
}

#chat-room .chat-sidebar-title {
  margin: 0;
  max-width: 100%;
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

#chat-room .chat-sidebar .order{
  margin-top: 15px;
  .content{
    padding: 16px 26px 11px 21px;
  }
}

#chat-room .messages {
  height: calc(70% - 50px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 10px 0 40px 0;
}

#chat-room .message {
  position: relative;
  display: flex;
  border-radius: 4px;
  background-color: rgb(250, 250, 250);
  max-width: 50%;
  width: max-content;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  @media ( max-width: 600px ) {
    max-width: 100%;
  }
}

#chat-room .message.user {
  flex-direction: row-reverse;
  margin-left: auto;
  margin-right: 10px;
  background-color: rgb(239, 248, 253);
  padding-left: 10px;
}

#chat-room .message-logo {
  margin: 7px 17px 0 24px;
}

#chat-room .message-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#chat-room .message-content {
  margin: 0;
}

#chat-room .message .sender-name {
  margin: 10px 0 8px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

#chat-room .message .message-content {
  max-width: 85%;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
}

#chat-room .message .date-and-time {
  position: absolute;
  //bottom: 10px;
  //right: 15px;
  color: #8d8d8d;
  font-size: 13px;
  font-weight: bold;
  // new
  bottom: 5px;
  left: 10px;
}

#chat-room .message.user .date-and-time {
  right: 10px;
  left: unset;
}

#chat-room .chat-sidebar .request{
  width: 90%;
  @media ( max-width: 992px ) {
    width: 96%;
    max-width: 400px;
  }
  .flag{
    position: absolute;
    right: 12px;
    top: 0;
  }
  .request__footer{
    .request-logo{
      width: 28px;
      height: 28px;
    }
  }
}

#chat-room .message.user .message-content {
  margin-left: auto;
  text-align: right;
}

#chat-room .message.user .message-logo {
  margin: 7px 24px 0 17px;
}

#chat-room .message.user .sender-name {
  text-align: right;
}

#chat-room .message-logo {
  width: 36px;
  height: 36px;
  max-width: 36px;
  border-radius: 50%;
}

#chat-room .ready-text-examples {
  display: flex;
  justify-content: center;
  min-height: 12.5%;
  width: 96.1206%;
  margin: 0 auto 2.5%;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

#chat-room .ready-text-examples .text-example {
  width: 30%;
  padding: 13px 14px 12px 16px;
  border-radius: 4px;
  border: 1px solid #1970ff;
  margin-left: 14px;
  color: #1970ff;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  cursor: pointer;
  @media (max-width: 600px) {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    padding: 10px;
  }
}

#chat-room .text-input {
  position: relative;
  margin: 0 19px;
  padding-bottom: 16px;
  height: 15%;
}

#chat-room .text-input textarea {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  resize: none;
  padding: 13px;
  font-size: 15px;
}

#chat-room .text-input textarea::placeholder {
  color: #afafaf;
  font-style: normal;
}

#chat-room .attach-files {
  position: absolute;
  width: 140px;
  top: 7px;
  right: -5px;
}

#chat-room .attach-files input {
  width: 140px;
  position: absolute;
  opacity: 0;
}

#chat-room .attach-files span {
  color: #afafaf;
  font-size: 13px;
  font-weight: 400;
  line-height: 7.09px;
}

#chat-room .attach-files:hover {
  cursor: pointer;
}

.request {
  position: relative;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  width: 95%;
  margin: 10px auto 8px;
}

.request-header {
  position: relative;
}

.request-header hr {
  margin: 15px 0;
}

.request-header .card-name {
  margin-top: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  width: 85%;

  a {
    color: #8d8d8d;
  }
}

.custom-orange {
  color: #f02200;
}

.request__title {
  margin: 0;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  width: 90%;
}

.request textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  padding: 5px 7px;
  resize: none;
  height: 61px;
  color: black;
  font-size: 13px;
  font-style: italic;
}

.request textarea::placeholder {
  color: #c2c2c2;
}

.request__footer {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.request__footer .request-logo {
  margin-right: 5.7971%;
  max-width: 27px;
}

.request-user-name {
  margin: 0;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
}

.phone-number {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 6px;
  background: rgba(183, 183, 183, 0.3);
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgba(183, 183, 183, 0.6);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #b7b7b7;
}

.custom-scroll::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}

#chat-room{
  .chat-sidebar{
    .order{
      .content{
        padding: 10px 15px;
      }
      .order__price{
        width: auto;
        min-width: 120px;
      }
    }
  }
}

@media (max-height: 768px) {
  #chat-room .ready-text-examples{
    margin: 0 auto 1.5%;
  }
  #chat-room .messages.custom-scroll{
    margin: 10px 0 15px 0;
  }
}