= form_with url: refresh_new_label_admin_order_path(order), local: true, method: :put,
  data: { confirm: 'Вы уверены?' } do |f|
  .md-form
    = f.submit 'Обновить статус новой', class: 'btn btn-blue'
