p Вы получили новое сообщение:
p = "#{@message} . "
p
  |  Для того, чтобы посмотреть пройдите по ссылке  #{ link_to t("enumerize.incident.reason.#{@incident.title}"), profile_ticket_url(@incident) }
