= form_with model: order_template, url: create_order_profile_order_template_path(order_template), method: :post, id: form_id do |f|
  = f.label :order_template, 'Количество сотрудников:'
  = f.number_field :number_of_employees, in: 1..1000, step: 1, class: "form-control order-template-number-of-employees", data: { order_template_id: order_template.id, customer_price: order_template.customer_price }
