- val =  params[:q] ? params[:q][:all_fields_cont] : nil
= search_form_for @q, url: orders_path do |f|
  .input-group.flex.no-wrap
    = f.search_field :all_fields_cont, placeholder: 'Поиск заявок', class: 'form-control m-2', value: val
