.input-group.md-form
  = text_field_tag :query, '', from: '', class: "form-control", placeholder:"Пример: подбор кассиров", aria_label: "Query"
  .input-group-append
    = submit_tag 'Найти', name: nil,  class: 'btn btn-indigo'
