i.fab.fa-gripfire.fa-2x class=(urgency == :low ? 'text-info' : 'grey-text') title='Срочность низкая'
i.fab.fa-gripfire.fa-2x class=(urgency == :normal ? 'text-warning' : 'grey-text') title='Срочность обычная'
i.fab.fa-gripfire.fa-2x class=(urgency == :high ? 'text-danger' : 'grey-text') title='Срочность высокая'
