#logs_search, #orders_info_search {
  .btn {
    padding: 0.3rem 1.2rem;;
  }
}
#orders_info_page {
  table th {
    padding-top: 0;
  }

  #orders_info_search {
    .context-filed {
      width: 250px;
    }
    .select-dropdown {
      margin-bottom: 7px;
    }
  }
}