.card {
  .checkbox_section {
    margin-bottom: 1.5em;
  }

  .form-control-checkbox {
    opacity: 1;
    pointer-events: auto;
    width: 1.5em;
    left: 1.2em;
    height: 22px;
  }

  .watch_checkbox {
    color: blue;
    font-size: 1.5em;
  }

  .other_info_remark {
    margin-left: 7em;
  }
}

.mod_order_actions .waves-input-wrapper {
  width: unset;
}