[Unit]
Description=BEST-HR Job Scheduler

[Service]
Type=simple
User=zerro
WorkingDirectory=/webhome/best-hr
ExecStart=/bin/bash -lc 'bundle exec rake production resque:scheduler 2>&1'
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
