[Unit]
Description=JOBNY-RU Unicorn Server

[Service]
Type=simple
User=zerro
WorkingDirectory=/webhome/jobny-ru/current
ExecStart=/bin/bash -lc 'bundle exec unicorn -E production -c config/unicorn.rb 2>&1'
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
