[Unit]
Description=JOBNY-RU Job Worker

[Service]
Type=simple
User=zerro
WorkingDirectory=/webhome/jobny-ru/current
ExecStart=/bin/bash -lc 'RAILS_ENV=production QUEUE=critical,processing,fetch_resumes,mail,payment_orders bundle exec rake resque:work 2>&1'
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
