[Unit]
Description=JOBNY-RU Job Scheduler

[Service]
Type=simple
User=zerro
WorkingDirectory=/webhome/jobny-ru/current
ExecStart=/bin/bash -lc 'RAILS_ENV=production bundle exec rake resque:scheduler 2>&1'
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
