[Unit]
Description=JOBNY-RU Job Worker

[Service]
Type=simple
User=zerro
WorkingDirectory=/webhome/jobny-ru
ExecStart=/bin/bash -lc 'COUNT=1 QUEUE=* bundle exec rake production resque:workers 2>&1'
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
