- pe_form = "#{render partial: 'admin/tickets/toolbars/hire_date_form', locals: { candidate: ticket.proposal_employee, url: hire_admin_ticket_proposal_employee_path(ticket, ticket.proposal_employee), method: :post }}"
button type="button" class="btn btn-success btn-rounded" data-toggle="popover" data-placement="bottom" data-html='true'  data-content=pe_form Нанять