= link_to reserve_profile_order_candidate_path(candidate.order_id, candidate), method: :put, remote: true, class: 'btn-floating btn-blue btn-sm', title: 'В резерв' do
  i.fas.fa-trash
p.card-title.white-text
  | В резерв
