= link_to revoke_profile_proposal_employee_path(candidate), method: :put, data: { confirm: 'Отозвать анкету?' }, remote: true, class: 'btn-floating btn-black btn-sm', title: 'Отозвать' do
  i.fas.fa-undo-alt
p.card-title.white-text
  | Отозвать
