= "В заявку №#{ @employee_cv.order.id } '#{ @employee_cv.order.title }' поступила анкета №#{ @employee_cv.id }. Назначьте дату собеседования чтобы Рекрутер закрыл заявку. Если у Вас трудности с назначением собеседования посмотрите инструкцию."
p
  = link_to 'Инструкция по назначению собеседования', page_url('manual_how_to_set_date_interview')

