= "В заявку №#{ @proposal_employee.order.id } '#{ @proposal_employee.order.title }' поступила анкета №#{ @proposal_employee.employee_cv.id }, ссылка на анкету "
= url_for profile_production_site_order_url(@proposal_employee.order.production_site_id, @proposal_employee.order.id)