= "Заявка №#{ @employee_cv.order.id } поступила анкета №#{ @employee_cv.id }. Назначьте дату собеседования чтобы Рекрутер закрыл заявку."
= link_to 'Чтобы узнать как назначить собеседование прочтите инструкцию.', root_url