= "Ваш кандидат №#{@prop_emp.employee_cv.id} приглашен на собеседование. Проконтролируйте приезд в указанную дату или скорректируйте дату приезда при необходимости."
p
  = link_to 'Инструкция для корректировки даты приезда.', page_url('correct_date_arrive')