= "Ваш кандидат №#{@prop_emp.employee_cv.id} приглашен на собеседование. Проконтролируйте приезд в указанную дату или скорректируйте дату приезда при необходимости."
| Инструкция для корректировки даты приезда.
= url_for page_url('manual_correct_date_arrive')