= "Ваш кандидат №#{@prop_emp.employee_cv.id} #{@prop_emp.employee_cv.name}, приглашен на собеседование. Проконтролируйте приезд в указанную дату или скорректируйте дату приезда при необходимости."
p
  = link_to 'Инструкция для корректировки даты приезда.', page_url('manual_correct_date_arrive')