ruby:
  orders_or_order = @orders.size > 1

== orders_or_order ? 'К сожалению, Ваши заявки: ' : 'К сожалению, Ваша заявка '
- @orders.each do |order|
  = "#{order.title}, "

== orders_or_order  ? 'не опубликованы, ' : 'не опубликована, '
| из-за того что у Вас недостаточно средств на счету. Если у Вас трудности с пополнением баланса посмотрите инструкцию по ссылке или обратитесь в саппорт. 
= url_for page_url('manual_how_to_pay_order')