| Завтра у вашего кандидата собеседование:
- @prop_emps.each do |emp|
  = "#{emp.employee_cv.name} контактный телефон #{emp.employee_cv.phone_number} на позицию #{emp.order.title};"

| Уточните у кандидата успевает ли он, если не успевает скорректируйте дату приезда.
= url_for page_url('correct_date_arrive')
