= link_to approve_transfer_profile_proposal_employee_path(candidate), data: { confirm: "Подтверждаете перенос анкеты в заявку №#{candidate.dst_order_id}?" }, class: 'btn-floating light-green btn-sm', title: 'Подтверждение переноса' do
  i.fas.fa-exchange-alt
p.card-title.white-text
  |Подтвердить
