= link_to change_status_profile_employee_cv_path(proposed, state: 'hired'), method: :put, remote: true, class: 'btn-floating btn-sm green' do
  i.fas.fa-info
= link_to profile_proposal_employee_complaints_path(proposed), remote: true, class: 'btn-floating btn-red btn-sm' do
  i.fas.fa-angry
