= link_to to_inbox_profile_order_candidate_path(candidate.order_id, candidate), method: :put, remote: true, class: 'btn-floating btn-yellow btn-sm', title: 'В очередь' do
  i.fas.fa-trash
p.card-title.white-text
  | В очередь
