= render 'profile/production_sites/order_template_forms/first_step',
        title: 'Публикация заявки',
        model: @order_template,
        next_button: first_step_save_button,
        is_order_template: true,
        url: profile_production_site_order_templates_path(@production_site)