ul.navbar-nav.mr-auto
  = render partial: "interface/navbar/left/#{@current_profile&.profile_type || 'nil'}.html.slim"
ul.navbar-nav.ml-auto.nav-flex-icons
  = render partial: "interface/navbar/right/#{@current_profile&.profile_type || 'nil'}.html.slim"
