li.nav-item
  = link_to 'Каталог заявок', orders_path, class: 'nav-link', data: {offset: '60'}
li.nav-item
  = link_to 'Мои предложения', profile_proposals_path, class: 'nav-link', data: {offset: '60'}
