/ li.nav-item
/   = link_to 'Каталог заявок', orders_path, class: 'nav-link', data: {offset: '60'}
/ li.nav-item
/   = link_to 'Мои заявки', profile_favorites_path, class: 'nav-link', data: {offset: '60'}
/ li.nav-item
/   = link_to 'Мои анкеты', profile_employee_cvs_path, class: 'nav-link', data: {offset: '60'}
