/ li.nav-item
/   = link_to 'Каталог заявок', orders_path, class: 'nav-link', data: {offset: '60'}
/ li.nav-item
/   = link_to 'Мои заявки', profile_orders_path, class: 'nav-link', data: {offset: '60'}
/ li.nav-item
  = link_to 'Нанять персонал', profile_order_templates_path, class: 'nav-link', data: {offset: '60'}
