= search_form_for @q, url: search_orders_profile_favorites_path, remote: true do |f|
  .input-group.flex.no-wrap
    = hidden_field_tag :employee_cv_id, @employee_cv_id
    = f.search_field :all_fields_cont, placeholder: 'Поиск заявок', class: 'form-control m-2'
