<% orders = render partial: 'orders/contractor_order', collection: @orders, as: :order %>
$('#order_page .platform').html("<%= j orders %>");

<% if @orders.blank? %>
  $('#order_page .platform').html('<p class="text-center">Ничего не найдено!</p>');
<% end %>