h4 = candidate.contractor_calendar_title
- hd = candidate.interview_date&.strftime('%d-%m-%Y')
.popup__body
  #hiring_form_datepicker.d-flex.justify-content-center data-date=hd
  - if candidate.inbox? || candidate.interview?
    = form_with model: [:profile, candidate],
            url: correct_interview_date_profile_proposal_employee_path,
            method: :put do |f|
      = f.hidden_field :interview_date
      .text-center.mt-2
        = f.submit 'Скорректировать', class: 'btn btn-success btn-sm btn-rounded mt-2 disabled', id: 'correct_interview_date_submit'

= candidate.contractor_calendar_text(@remained_warranty_days)

javascript:
  function init_datepicker() {
    $('#hiring_form_datepicker').datepicker({
      language: 'ru',
      todayHighlight: false,
      beforeShowDay: function() {
        if("#{candidate.inbox? || candidate.interview?}" == 'true') {
          return true;
        }
      }
    });

    var prevDate = $('#hiring_form_datepicker').datepicker('getFormattedDate')
    var element = $('#hiring_form_datepicker').datepicker();
    element['prevDate'] = prevDate;

    $('#hiring_form_datepicker').on('changeDate', function() {
      currDate = $('#hiring_form_datepicker').datepicker('getFormattedDate')
      $('#proposal_employee_interview_date').val(currDate);

      var submit_button = $('#correct_interview_date_submit')

      if(element['prevDate'] == currDate) {
        submit_button.addClass('disabled');
      } else {
        submit_button.removeClass('disabled');
      }
    });

    if("#{candidate.hired?}" == 'true') {
      var remained_warranty_days = "#{@remained_warranty_days.join(', ')}".split(',');
      $('#hiring_form_datepicker').datepicker(
        'update', ...remained_warranty_days);
    }
  }

 function defer(method) {
   if(window.jQuery && $.fn.datepicker) {
     method();
   } else {
     setTimeout(function () {
      defer(method);
      }, 50);
   }
 }

 defer(init_datepicker);
