body {
  font-family: Verdana, Geneva, sans-serif!important;

}

.bg-rostjob {
	background-color: #534741 !important;
}

.advertising {
	background-color: #d00000 !important;
}

.dropdown .dropdown-menu.dropdown-secondary .bg-rostjob-a:hover, .dropdown .dropdown-menu.dropdown-secondary .bg-rostjob-a:active, .dropdown .dropdown-menu.dropdown-secondary .bg-rostjob-a.active,
.dropup .dropdown-menu.dropdown-secondary .bg-rostjob-a:hover,
.dropup .dropdown-menu.dropdown-secondary .bg-rostjob-a:active,
.dropup .dropdown-menu.dropdown-secondary .bg-rostjob-a.active,
.dropleft .dropdown-menu.dropdown-secondary .bg-rostjob-a:hover,
.dropleft .dropdown-menu.dropdown-secondary .bg-rostjob-a:active,
.dropleft .dropdown-menu.dropdown-secondary .bg-rostjob-a.active,
.dropright .dropdown-menu.dropdown-secondary .bg-rostjob-a:hover,
.dropright .dropdown-menu.dropdown-secondary .bg-rostjob-a:active,
.dropright .dropdown-menu.dropdown-secondary .bg-rostjob-a.active {
    background-color: #534741 !important;
  }

.button-menu-l, .button-menu-r {
  padding: 14px;
  text-align: left;
  border: 2px solid #fff !important;
  background-color: transparent !important;
  color: #534741 !important;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12);}
  .button-menu:hover, .button-menu:focus, .button-menu:active, .button-menu:active:focus, .button-menu.active  {
    border-color: #eeeeee !important;
    background-color: #eeeeee !important;
    color: #000 !important;
  -webkit-box-shadow:  0 5px 11px 0 rgba(0, 0, 0, 0.18),  0 5px 11px 0 rgba(0, 0, 0, 0.18);}
  .button-menu:not([disabled]):not(.disabled):active, .button-menu:not([disabled]):not(.disabled).active,
  .show > .button-menu.dropdown-toggle {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent !important;
    border-color: #534741 !important; }
  .button-menu:not([disabled]):not(.disabled):active:focus, .button-menu:not([disabled]):not(.disabled).active:focus,
  .show > .button-menu.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }

.button-menu-l {
  width: 20%;
}

 .button-menu-r {
  width: 80%;
}

.group-menu {
  width: 90%;
}

.hr-menu {
  margin: 10px 0px 10px 0px;
}


.menu-style {
  padding: 0px !important;
}


.w-10 {
  width: 10%;
}

#recruter-main{
  grid-template-rows: 210px 1fr;
}

#recruter-main .events{
  grid-column: 1;
}

#recruter-main .calendar{
  grid-column: 2;
  grid-row: 1/3;
  overflow: auto;
}

#recruter-main .user_info{
  display: flex;
  background-color: #fff;
}

#recruter-main .user_info > div:first-child{
  width: 30%;
  justify-content: flex-start;
  align-items: center;
}

#recruter-main .user_info > div:last-child{
  width: 70%;
  justify-content: flex-start;
  padding: 0 0 0 50px;

}

#recruter-main #pen{
  margin-left: 0;
}

#recruter-main .user_info .img-user{
  width: 54px;
  height: 54px;
  margin-bottom: 15px;
  object-fit: cover;
}

#recruter-main .user_info .name{
  margin-bottom: 10px;
}

#recruter-main .user_info_rating p{
  margin-bottom: 10px;
}

#recruter-main .redact{
  display: flex;
  align-items: center;
}

#recruter-main .user-btn{
  border-radius: 14px;
  width: 113px;
  height: 27px;
}

#recruter-main .balance-color{
  color: #1970ff;
}

#recruter-main .events_list{
  overflow: auto;
  margin-right: -30px;
}

@media (max-width: 1100px) {

    #recruter-main{
      display: flex;
      flex-direction: column;
      height: max-content;

    }

    #recruter-main >section{
      margin-bottom: 15px;
    }

    #recruter-main .events{
      height: 400px;
      overflow-x: hidden;
    }

    #recruter-main .events_list{
      margin-right: 0;
    }

    #recruter-main .user_info_avatar{
      align-items: center;
    }

}


@media (max-width: 768px) {

    #recruter-main .user_info > div:first-child{
      display: flex;
      width: 50%;
    }

    #recruter-main .user_info > div:last-child{
      flex-direction: column;
      padding-left: 0;
      width: 50%;
      align-items: flex-start;
    }

    #recruter-main .fc-button{
      padding: 0 !important;
    }

}

@media (max-width: 400px) {

    #recruter-main .user_info{
      flex-direction: column;
      align-items: center;
      overflow-y: unset;
    }

    #recruter-main .user_info > div:last-child{
      align-items: center;
      width: 100%;
    }

    #recruter-main .user_info > div:first-child{
      width: 100%;
    }

    #recruter-main .fc-center{
      align-items: center;
    }

    #recruter-main .fc-center h2{
      font-size: 16px;
    }

    #recruter-main .events{
        padding-right: 0;
    }

}