*{
  font-family: 'Roboto', sans-serif;
  }

  body {
    height: 100%;
    widows: 100%;
  }
  .wrapper {
  background:#eee;
  padding:30px;
  }
  .nav {
    height: 50px;
    padding: 5px;
    position: relative;
    border-bottom: 1px solid #e3e3e5;
  }

  .nav__logo {
    margin: 10px 10px;
  }

  .col {
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #e3e3e5;
    border-radius: 3px;
    font: normal 13px/19px Verdana;
    box-shadow: 0 3px 7px rgba(0,0,0,.1);
    background: #ffffff;
  }

  .content {
    padding: 5px 15px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 16px;
    margin: 10px 0;
    border-style: none;
  }

.p-15-0 {
  padding: 15px 0;
}
.title {
  font:normal 21px/48px Arial;
  color: #222;
  padding: 0 0 0 40px;
  margin: 0;
}

.footer {
  border-top: 1px solid #e3e3e5;
  text-align: center;
  font-size: 16px;
  height: 60px;
  line-height: 30px;
  a {
    text-decoration: none;
  }
}

#history_message_mail, .direct_message {
  .message {
    border-radius: 4px;
    background-color: #fafafa;
    min-width: 75%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding: 10px;
  }

  .message-body {
    width: 100%;
    padding-left: 10px;
  }
  .sender-name {
    margin: 10px 0 8px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
  }
  .date-and-time {
    width: 100%;
    color: #8d8d8d;
    font-size: 13px;
    font-weight: bold;
    bottom: 5px;
    left: 10px;
    text-align: right;
  }
}

.ml-2 {
  margin-left: 0.5rem !important;
}