#modal-production-site, #candidate-show, #empl-form, #info_modal {
  font-family: "Open Sans", sans-serif;

  .modal-header {
    flex-direction: column;
    border: 0;
    padding-bottom: 4px;
  }

  .modal-title {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .modal-body {
    display: flex;
    padding-left: 60px;

    .form-group {
      margin-bottom: 25px;
    }

    .form-group:nth-child(3) .form-control {
      height: 250px;
      overflow: auto;
    }

    .form-control {
      padding: 15px;
    }

    textarea {
      resize: none;
      color: #000000;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;

      &::-webkit-scrollbar {
        width: 6px;

        background-color: $secondaryColor;
      }

      &::-webkit-scrollbar-track {
        border-radius: 6px;
        background: transparentize($secondaryColorDark, 0.7);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: transparentize($secondaryColorDark, 0.4);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $secondaryColorDark;
      }

      &::-webkit-scrollbar-thumb:active {
        background: linear-gradient(left, #22ADD4, #1E98BA);
      }
    }
  }

  #myLargeModalLabel {
    padding-top: 43px;
    padding-left: 55px;
  }

  .modal-header-top {
    display: flex;
    justify-content: space-between;
    padding-right: 34px;
    width: 100%;
  }

  .modal-activities {
    display: flex;
  }

  .modal-request-type {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
    margin-top: 15px;

    i {
      margin-right: 10px;
    }
  }

  .modal-ancete {
    width: 60%;
  }

  .close {
    position: absolute;
    top: 2px;
    right: 8px;
  }

  .ancete-rows {
    display: flex;
    flex-direction: column;
  }

  .ancete-row {
    display: flex;
  }

  .ancete-row__title {
    width: 30%;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  .ancete-row__content {
    width: 60%;
  }

  .ancete-row__content input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    height: 38px;
  }

  .ancete-row:nth-child(3) .ancete-row__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sex {
    display: flex;
    align-items: center;
  }

  .sex input {
    width: auto;
  }

  .sex label {
    margin-bottom: 0;
    margin-right: 2px;
  }

  #man {
    margin-right: 10px;
  }

  #man, #woman {
    pointer-events: auto;
    position: static;
    opacity: 1;
  }

  .ancete-row__content textarea {
    resize: none;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
  }

  .must-have .ancete-row__title {
    margin: 0;
  }

  .must-have .ancete-row {
    align-items: center;
  }

  .must-have {
    margin-bottom: 30px;
  }

  .ancete-row {
    margin-bottom: 15px;
  }

  .modal-ancete__sidebar {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .date-start-work {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .date-start-work h3 {
    text-align: center;
  }

  .date-start-work textarea {
    min-width: 262px;
    max-width: 90%;
    height: 196px;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    resize: none;
  }

  #get-recruter {
    width: 200px;
    height: 32px;
    border: 0;
    margin-top: 28px;
    border-radius: 16px;
    color: white;
    background-image: linear-gradient(to top, #1970ff 0%, #68a2ff 100%);
  }


  #get-recruter:hover {
    cursor: pointer;
  }

  .ancete-recruter {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    padding: 10px;
  }

  .modal-ancete__sidebar .footer > p {
    margin: 3px 0 5px 13px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  .modal-ancete__title {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  .more-info .ancete-row:last-child {
    margin-bottom: 0;
  }

  .more-info {
    margin-top: 15px;
  }

  .modal-activities a:last-child {
    margin-left: 30px;
  }

  .modal-activities a {
    display: flex;
    align-items: center;
  }

  .modal-activities img {
    margin-right: 8px;
    margin-bottom: 4px;
  }

  .request-user-name {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
  }

  .request-logo {
    max-width: 37px;
    margin-right: 10px;
  }

  input[type="text"], textarea {
    padding: 10px 10px 10px 20px;
    resize: none;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  input[type="tel"] {
    padding: 10px 10px 10px 20px;
    resize: none;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  hr {
    background-color: #e1e1e1;
    width: 100%;
    margin-bottom: 0;
  }

  .ancete-row__contentactions {
    width: 60%;
  }

  @media (min-width: 1000px) {
    .modal-dialog {
      max-width: 957px;
    }
  }

  @media (max-width: 992px) {
    .modal-body {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
    }
    .modal-ancete {
      width: 100%;
    }
    .modal-ancete__sidebar {
      width: 60%;
      margin-top: 10px;
    }
    .ancete-row:nth-child(3) .ancete-row__content {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 378px) {
    .ancete-row:nth-child(3) .ancete-row__content {
      justify-content: center;

      .modal-request-type {
        color: #000000;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 15px;

        i {
          margin-right: 10px;
        }
      }
    }

    #candidate-show {
      .modal-title {
        color: #1970ff;
        margin-left: 10px;
      }

      .border-solid {
        border: 1px solid #d7d7d7;
        padding: 10px;
      }
    }
  }

  .disable_reminder {
    pointer-events: none;
    opacity: 0.25;
  }
}

.modal-content #order_page .order_row .details .buttons button.btn {
  padding: 5px 3px;
  background-color: #9046ff;
  font-size: 0.64rem;
  color: white
}

#info_modal {
  #request-publishing {
    background-color: white;
    padding: 0 0 33px 0;

    .request-block {
      width: 100%;
      box-shadow: none;
      padding: 0;
    }

    .request-block-container {
      padding: 0 15px;
    }
    
    .request-block .request-block-header {
      margin-top: 0;
    }

    .request-body li {
      background: none !important;
    }

    .buttons {
      margin-bottom: 10px;
    
      button {
        border: none;
      }
    }
  }

  .modal-body {
    padding-left: 0;
    padding: 0;
  }

  .modal-header {
    display: none;
  }

  .modal-content {
    overflow-y: auto;
  }
}

#dispute{
  font-family: "Open sans", sans-serif;
  form{
    >h5{
      font-size: 18px;
      font-weight: bold;
    }
    >label{
      font-weight: bold;
    }
    .form-group{
      label{
        font-weight: bold;
      }
    }
    input[type="submit"]{
      color: white !important;
      background-image: linear-gradient(to top, #1970ff 0%, #68a2ff 100%);
      text-transform: capitalize;
      font-size: 16px;
      border: 0 !important;
    }
  }
}
