#interface-navbar {
  .navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: 5px;
    top: 9px;
  }

  .sidebar, .brand-link {
    background: linear-gradient(135deg, #0079bf, #5067c5);
  }

  .svg-sidebar {
    color: white;
    width: 20px;
    height: 20px;
  }

  .img-circle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }

  .nav-link {
    display: flex !important;
    align-items: center;
    padding: 0.5rem 1rem !important;
    flex-direction: column;


    &:hover, &__active {
      background-color: rgba(255, 255, 255, .1);
      color: #fff;
    }
  }

  .icon-text {
    margin-bottom: 0;
    color: white;
    font-size: 12px;
    text-align: center;
  }

  #main_logo {
    width: 93%;
    padding-left: 0;
    padding-right: 0;
  }

  .btn-navbar {
    color: rgba(0, 0, 0, .6);
    background-color: white;
    border-radius: 5px !important;
    box-shadow: none;
  }

  .custom-side-nav {
    width: 4.5rem;
    height: 100%;
    position: fixed;
    background-color: blueviolet;
    z-index: 1040;
  }

  .side-bar-ul {
    padding-left: 0;
  }

  .side-bar-ul li {
    list-style-type: none;
  }

  .side-nav-img-container {
    width: 2rem;
    margin: 10px auto;
  }

  .side-nav-logo {
    margin: 10px auto;

    .counter {
      margin-top: 10px;
      margin-left: 10px;
    }
  }

  .svg-sidebar {
    margin: auto;
  }

  /*Chrome*/
  .custom-column:not(*:root) {
    height: 88vh;
  }

  .main-header {
    .input-group {
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
    }
  }

  .navbar {
    background-color: white;
  }

  @media (max-width: 400px) {
    #right_window {
      flex-direction: column;
      padding-left: 0;
    }
    .custom-column {
      width: 90%;
      margin: auto;
    }
    .custom-side-nav {
      display: none;
    }
    .mobile-menu {
      width: 100%;
      margin-left: -16px;
    }
    .moveable > .card-header {
      justify-content: space-between;
    }
    .fas.fa-paperclip {
      width: 100%;
    }
    .btn-floating.btn-sm {
      width: 60.1538461538px;
      height: 36.1538461538px;
    }
    .btn-floating.btn-sm.red {
      margin-top: 5px !important;
    }
    .wrapper {
      overflow: hidden;
      position: relative;
    }
  }

  /*    Mobile menu    */

  .mobile-menu {
    position: fixed;
    background-color: white;
    z-index: 1001;
    top: 59px;
    display: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);


    .mobile-menu-text {
      color: black;
      font-size: 15px;
      margin-bottom: 0;
      font-weight: bold;
    }

    .mobile-menu-text:hover {
      color: black;
    }

    .mobile-list {
      padding: 0.5rem 1.9rem;
    }
  }
}