// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-group.position-relative input {
  padding-right: 32px;
}

.form-clear {
  align-items: center;
  background: #cecece;
  border-radius: 50%;
  bottom: 8px;
  color: rgba(0, 0, 0, .54);
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 24px;
  z-index: 10;
}

.form-text+.form-clear {
  bottom: calc(1rem + 18px);
}

.form-clear .material-icons {
  font-size: 16px;
  font-weight: 500;
}

.p-site-orders {
  .card {
    margin-bottom: 15px;

    .view.overlay {
      padding: 9px;
      border-bottom: 1px solid #d2d2d2;
    }

    .card-body {
      .item {
        border-bottom: 1px solid #d2d2d2;
        padding: 10px 0;
      }

      .item:last-child {
        border: none;
      }
    }
  }
}

#order_page {
  .people_salary {
    font-weight: bolder;
    background-color: blue;
    color: white;
  }

  .nav-link.active {
    background-color:  #c7dcfd !important;
  }

  .nav-tabs > .nav-item:hover {
    background-color:  #c7dcfd !important;
  }

  .city_span_button {
    border-radius: 5px;
    background-color:
    #385e9b;
    color:
    white;
    font-weight: bolder;
    font-size: 17px;
  }

  .title-text {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .professions, .cities {
      font-weight: bolder;
  }

  .zayavka {
    display: flex;
    border-bottom: 1px solid  silver;
    transition: 0.55s;
    cursor: pointer;
  }
  
  .zayavka-oplata, .people_salary {
    font-size: 0.9rem;
  }
}

.show_card {
  .zayavka__close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 30px;
    background-color: 
    white !important;
    width: 45px;
    height: 45px;
    z-index: 1;
  }
  
  .people_salary_left {
    font-weight: bolder;
    background-color: blue;
    color: white;
    position: absolute;
    top: -32px;
    left: 100px;
  }
  
  .contacts {
    border: 1px solid black;
    position: relative;
  }
}