$secondaryColor: #fff;
$secondaryColorDark: #b7b7b7;
$purple: #9046ff;
$green: #24b250;
$yellow: #FDDA0D;

.form-group.position-relative input {
  padding-right: 32px;
}

.form-clear {
  align-items: center;
  background: #cecece;
  border-radius: 50%;
  bottom: 8px;
  color: rgba(0, 0, 0, .54);
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 24px;
  z-index: 10;
}

.form-text+.form-clear {
  bottom: calc(1rem + 18px);
}

.form-clear .material-icons {
  font-size: 16px;
  font-weight: 500;
}

.p-site-orders {
  .card {
    margin-bottom: 15px;

    .view.overlay {
      padding: 9px;
      border-bottom: 1px solid #d2d2d2;
    }

    .card-body {
      .item {
        border-bottom: 1px solid #d2d2d2;
        padding: 10px 0;
      }

      .item:last-child {
        border: none;
      }
    }
  }
}

.orders-new-label {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 13px;
  color: #fff;
  border-radius: 4px;
  background-color: $green;
  line-height: 13px;
  padding: 4px 10px;
  white-space: nowrap;

  a {
    color: #fff;
    display: block;
    text-align: center;

    b {
      font-weight: 800;
    }
  }
}

#order_page {
  min-height: 100%;
  #requests-page {
    background-color: #ffffff;
    font-family: "Open sans", sans-serif;
    height: auto;
    min-height: 100%;
    width: 100%;
    padding: 60px 20px 0 20px;
    display: flex;

    .requests-page-container {
      width: calc( 100% - 430px );
    }

    .order_row:nth-child(2n) {
      background-color: #fbfbfb;
    }



    .platform {
      width: 100%;
      background-color: #fff;
      box-shadow: 0 0 8px rgba(113, 113, 113, 0.2);
      border-radius: 4px;
      margin-bottom: 30px;
      padding: 20px 20px 0 20px;

      .header {
        display: flex;
        justify-content: space-between;

        p {
          margin: 0;
          font-size: 17px;
          font-weight: bold;
          line-height: 18px;
        }

        span {
          color: #9046ff;
          font-size: 15px;
          line-height: 15px;
          font-weight: bold;
        }
      }

      .logo {
        width: 69px;
        height: 69px;
        border-radius: 50%;
        margin-right: 40px;
        object-fit: cover;
      }

      .information {
        display: flex;
        margin-top: -50px;

        .custom-green {
          color: #02da35;
          font-weight: bold;
        }

        .custom-green:first-child {
          margin-right: 20px;
        }

        .name {
          margin-top: 8px;
          margin-bottom: 10px;
          font-size: 15px;
        }

        .characteristic {
          font-size: 15px;
          margin: 0;
        }
      }

      .information-search {
        display: flex;
        align-items: center;
        margin-left: auto;
        position: relative;

        img {
          position: absolute;
          right: 0;
          bottom: 20px;
        }

        input {
          border: 0;
          border-bottom: 1px solid #a2a2a2;
          width: 230px;
        }

        input::placeholder {
          color: #999999;
          font-size: 13px;
        }

        .search {
          position: absolute;
          right: 0;
        }
      }
    }
  }




  #requests-page .platform .tabs {
    margin-top: 25px;
  }

  #requests-page .platform .tabs .nav {
    border-radius: 4px;
    background-color: #ebebeb;
  }

  #requests-page .platform .tabs .nav-item {
    line-height: 15px;
    font-size: 14px;
    font-weight: bold;
  }

  #requests-page .platform .tabs .nav-link {
    color: #000000;
    padding: 10px 40px;
  }

  #requests-page .platform .tabs .nav-link.active {
    border-radius: 4px;
    background-color: #d7d7d7;
  }

  #requests-page .platform .tabs .tab-content {
    overflow: auto;
    margin: 0 -20px;
    padding: 0 0 10px 0;
  }

  #requests-page .platform .tabs .tab-content .tab-pane:nth-child(2),
  #requests-page .platform .tabs .tab-content .tab-pane:nth-child(3) {
    padding: 0 20px;
  }

  #requests-page .platform .vacancy {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px 20px;
  }

  #requests-page .platform .vacancy:hover {
    cursor: pointer;
    box-shadow: 0 0 13px 3px rgba(113, 113, 113, 0.15);
  }

  #requests-page .platform .vacancy.bg {
    background-color: #fbfbfb;
  }

  #requests-page .platform .vacancy .star {
    margin-left: 6px;
    width: 18px;
    height: 16px;
  }

  #requests-page .platform .vacancy .star:hover {
    fill: yellow;
  }

  #requests-page .platform .vacancy p {
    margin-bottom: 0;
  }

  #requests-page .platform .vacancy .number {
    margin: 0 24px 0 40px;
    font-size: 13px;
    font-weight: bold;
  }

  #requests-page .platform .vacancy .description {
    font-size: 14px;
  }

  #requests-page .platform .vacancy .new-label {
    margin-left: 0px;
    margin-right: 16px;
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
    background-color: $green;
    line-height: 13px;
    padding: 4px 10px;
    white-space: nowrap;

    a {
      color: #fff;
      display: block;
      text-align: center;

      b {
        font-weight: 800;
      }
    }
  }

  #requests-page .platform .vacancy .unactual-label {
    margin-left: 0px;
    margin-right: 16px;
    font-size: 13px;
    color: #000;
    border-radius: 4px;
    background-color: $yellow;
    line-height: 13px;
    padding: 4px 10px;
    white-space: nowrap;

    a {
      color: #fff;
      display: block;
      text-align: center;

      b {
        font-weight: 800;
      }
    }
  }

  #requests-page .platform .vacancy .salary {
    margin-left: auto;
    margin-right: 16px;
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
    background-color: $purple;
    line-height: 13px;
    padding: 4px 10px;
    white-space: nowrap;

    a {
      color: #fff;
      display: block;
      text-align: center;

      b {
        font-weight: 800;
      }
    }
  }

  #requests-page .platform .details {
    background-color: #ebebeb;
    display: none;
    padding: 20px 65px 35px 20px;
    flex-wrap: wrap;

    li {
      background: none !important;
    }
  }

  #requests-page .platform .details.opened {
    display: flex;
  }

  #requests-page .platform .details .request-body {
    width: 75%;
    padding-bottom: 20px;
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid #e1e1e1;
  }

  #requests-page .platform .details .request-body .subtitle {
    font-weight: 700 !important;
    line-height: 18px;
    color: #000000;
  }

  #requests-page .platform .details .request-body .salary {
    position: absolute;
    right: 36px;
    top: 0;
    border-radius: 4px;
    background-color: #1970ff;
    line-height: 14px;
    padding: 4px 10px;
    color: #fff;
    font-size: 13px;
  }

  #requests-page .platform .details .request-body p {
    margin: 0;
  }

  #requests-page .platform .details .sidebar {
    width: 25%;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #requests-page .platform .details .sidebar .contact-person {
    font-size: 15px;
  }

  #requests-page .platform .details .sidebar .contact-person .title {
    font-weight: bold;
    margin: 0;
  }

  #requests-page .platform .details .sidebar .contact-person .initials {
    margin: 0;
  }

  #requests-page .platform .details .sidebar .contact-person .phone-number {
    margin: 0;
  }

  #requests-page .platform .details .sidebar .peoples-need {
    margin-top: 60px;
    width: 112px;
  }

  #requests-page .platform .details .sidebar .peoples-need .title {
    color: #1970ff;
    font-size: 15px;
    line-height: 16px;
    font-weight: bold;
    margin: 0 0 20px 0;
  }

  #requests-page .platform .details .sidebar .peoples-need .count {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #requests-page .platform .details .sidebar .peoples-need .count img:hover {
    cursor: pointer;
  }

  #requests-page .platform .details .sidebar .peoples-need .count span {
    font-size: 15px;
  }

  #requests-page .platform .details .sidebar .copy {
    display: flex;
    align-items: flex-start;
    width: 80%;
  }

  #requests-page .platform .details .sidebar .copy:hover {
    cursor: pointer;
  }

  #requests-page .platform .details .sidebar .copy .copy-img {
    margin-right: 8px;
    margin-top: 4px;
  }

  #requests-page .platform .details .sidebar .copy p {
    margin: 0;
    color: $purple;
    font-size: 13px;
  }

  .download_document a {
    margin: 1.8em;
    color: $purple;
    font-size: 15px;
  }

  #requests-page .platform .details .buttons {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-top: 20px;
    justify-content: flex-end;
  }

  #requests-page .platform .details .buttons .add-to-favourite {
    border-radius: 14px;
    border: 1px solid $purple;
    justify-content: center;
    height: 27px;
    display: flex;
    margin-top: 18px;
    align-items: center;
    color: $purple;
    font-size: 13px;
  }

  #requests-page .platform .details .buttons .delete-from-favourite {
    border-radius: 14px;
    border: 1px solid #7d7e7e;
    justify-content: center;
    height: 27px;
    display: flex;
    margin-top: 18px;
    align-items: center;
    color: #7d7e7e;
    font-size: 13px;
  }

  #requests-page .platform .details .buttons .delete-from-favourite:hover {
    cursor: pointer;
  }

  #requests-page .platform .details .buttons .send {
    border-radius: 14px;
    justify-content: center;
    margin-top: 18px;
    height: 27px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 13px;
    background-image: linear-gradient(to top, $purple 0%, $purple 100%);
  }

  #requests-page .platform .details .buttons .send:hover {
    cursor: pointer;
  }

  #requests-page .platform .details .comment {
    width: 75%;
    font-size: 14px;
    margin-top: 20px;
  }

  #requests-page .platform .details .comment .subtitle {
    font-weight: 700;
    line-height: 18px;
    color: #000000;
  }

  #requests-page .filters-search{
    position: relative;

    img{
      position: absolute;
      right: 70px;
      top: 10px;
    }

    input {
      border: 0;
      border-bottom: 1px solid #a2a2a2;
      width: 230px;
    }

    input::placeholder {
      color: #999999;
      font-size: 13px;
    }

    .search {
      position: absolute;
      right: 0;
    }
  }

  .pseudo-star {
    font-size: 24px;
    color: #e3e3e3;
    position: absolute;
    left: 26px;
    // top: 2px;
    margin-bottom: 3px;
  }

  .pseudo-star:hover:before, .pseudo-star-selected:before {
    content: "\2605";
    position: absolute;
    color: yellow;
  }

  .custom-scroll {
    &::-webkit-scrollbar {
      width: 6px;
      background-color: $secondaryColor;
    }

    &::-webkit-scrollbar-track {
      border-radius: 6px;
      background: transparentize($secondaryColorDark, 0.7);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: transparentize($secondaryColorDark, 0.4);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $secondaryColorDark;
    }

    &::-webkit-scrollbar-thumb:active {
      background: linear-gradient(left, #22ADD4, #1E98BA);
    }
  }
}

#requests-page{
  .ordersCatalog{
    position: fixed;
    top: 28px;
    left: 85px;
    z-index: 99;
    width: 100%;
  }

  .ordersCatalog .ordersCatalog__filters {
    height: 50px;
  }
}

.ordersCatalog {
  font-family: "Open sans", sans-serif;
  padding: 30px 25px 15px 15px;
  color: #000000;
  @media (max-width: 768px) {
    padding: 15px;
  }

  .order {
    display: inline-block;
    box-shadow: 0 0 8px rgba(131, 131, 131, 0.6);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 20px;
    width: 100%;
    @media (max-width: 768px) {
      padding: 15px;
    }

    &__header {
      position: relative;
      border-bottom: 1px solid #e6e6e6;
    }

    &__title {
      width: calc(100% - 60px);
      height: 70px;
      line-height: 16px;
      color: #23b14c;
      font-size: 16px;
      margin: 0;
      font-weight: 700;
    }

    &__title a {
      width: calc(100% - 60px);
      height: 32px;
      line-height: 16px;
      color: #1b4c9c;
      font-size: 16px;
      margin: 0;
      font-weight: 700;
    }

    &__rating {
      width: calc(100% - 60px);
      color: #030202;
      font-size: 13px;
      font-weight: 400;
      margin: 15px 0 30px 0;

      &--color {
        font-weight: 700;

        &.green-color {
          color: #7d7d7d;
        }

        &.orange-color {
          color: orange;
        }

        &.red-color {
          color: red;
        }
      }
    }

    &__img {
      position: absolute;
      right: 0;
      top: 0;
      width: 52px;
      height: 52px;
      max-width: 52px;
    }

    &-hide-description {
      font-size: 13px;
      color: #000000;
      line-height: 22px;
      font-weight: 400;
      margin: 15px 0 25px 0;

      .hide {
        display: none;
      }
    }

    &-description {
      color: #353535;
      font-size: 12px;
      font-weight: 500;
      margin: 15px 0 25px 0;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__link {
      width: 160px;
      height: 27px;
      border-radius: 14px;
      border: 1px solid #1b4c9c;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1b4c9c;
      font-weight: 700;
      font-size: 12px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .moreDetails {
    display: flex;
    align-items: baseline;
    color: #6e6e6e;
    font-size: 12px;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }

    .arrow {
      margin-right: 5px;
      transition: 0.3s ease-in;
    }
  }

  .hide {
    display: none;
  }

  .rotate {
    transform: rotate(180deg);
    transition: 0.3s ease-in;
  }

  /* для элемента input c type="checkbox" */
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label, связанного с .custom-checkbox */
  .custom-checkbox + label {
    display: inline-flex;
    align-items: flex-start;
    user-select: none;
    font-size: 14px;
    cursor: pointer;
  }

  /* создание в label псевдоэлемента before со следующими стилями */
  .custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на checkbox */
  .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
  }

  /* стили для активного чекбокса (при нажатии на него) */
  .custom-checkbox:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  /* стили для чекбокса, находящегося в фокусе */
  .custom-checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .custom-checkbox:focus:not(:checked) + label::before {
    border-color: #80bdff;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  .custom-checkbox:checked + label::before {
    border-color: #dedede;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 10 10'%3e%3ccircle r='5' fill='%239561f8'/%3e%3c/svg%3e");
  }

  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox:disabled + label::before {
    background-color: #e9ecef;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //position: fixed;
    //top: 59px;
    background-color: #ffffff;
    z-index: 99;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
      position: sticky;
    }
  }

  .filters-container {
    display: flex;
    align-items: center;

    @media (max-width: 992px) {
      margin-top: 10px;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  .filterBy {
    margin: 0 0 0 30px;
    font-weight: 600;
    white-space: nowrap;

    @media (max-width: 992px) {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .arrow {
    transition: 0.3s ease-in;

    &:hover {
      cursor: pointer;
    }
  }

  .select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 4px;
    background-color: #e6e6e6;
    height: 27px;

    &__arrow {
      pointer-events: none;
    }

    &.city {
      margin: 0 20px;

      @media (max-width: 768px) {
        margin-left: 0;
      }

      .select__arrow {
        margin-left: 30px;
      }
    }

    &.profession {
      @media (max-width: 600px) {
        margin-top: 10px;
      }

      .select__arrow {
        margin-left: 15px;
      }
    }

    &__title {
      margin: 0;
      line-height: 15px;
      padding: 5px 15px;
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
      }
    }

    .cities-container, .professions-container {
      z-index: 99;
      position: absolute;
      min-width: 252px;
      max-width: 320px;
      bottom: 0;
      left: 0;
      box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      background-color: #ffffff;
      transform: translateY(100%);
      padding: 30px 20px 20px 15px;
    }

    .professions-container {
      min-width: 300px;
    }

    .select__options {
      overflow: auto;
      max-height: 200px;
      padding: 2px 0 0 2px;

      &.cities {
        margin-right: -20px;

        .option {
          margin: 0 0 15px 0;
          line-height: 15px;
          font-weight: 400;
        }
      }
    }

    &__buttons {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;

      button {
        outline: none;
      }

      .checkAll {
        border-radius: 4px;
        background-color: #dedede;
        border: none;
      }

      .clearAll {
        text-decoration: underline;
        border: none;
        background-color: #ffffff;
      }

      .btn-short {
        width: 50%;
        height: 28px;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
      }

      .btn-long {
        height: 28px;
        width: 100%;
        border-radius: 4px;
        background-color: #9561f8;
        border: none;
        color: #ffffff;
        font-size: 13px;
        font-weight: 600;
        margin-top: 15px;
        cursor: pointer;
      }
    }
  }

  .searchByName {
    position: relative;

    &__input {
      border: none;
      border-bottom: 1px solid #b0b0b0;
      background-color: transparent;
      padding: 0 0 0 5px;
      outline: none;

      &::placeholder {
        color: #a8a8a8;
        font-size: 13px;
        font-weight: 400;
      }
    }

    &__img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .orders-container {
    margin: 30px 0 0 0;
    column-count: 3;
    column-gap: 20px;
    vertical-align: top;

    @media (max-width: 1100px) {
      column-count: 2;
    }

    @media (max-width: 768px) {
      column-count: 1;
    }
  }
}

#requests-page {
  .single-order{
    width: 420px;
    margin-left: 10px;
    @media (max-width: 1200px) {
      display: none;
    }

    .order {
      position: fixed;
      width: 430px;
    }
  }

  .order {
    display: inline-block;
    box-shadow: 0 0 8px rgba(131, 131, 131, 0.2);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 20px;
    width: 100%;
    @media (max-width: 768px) {
      padding: 15px;
    }

    &__header {
      position: relative;
      border-bottom: 1px solid #e6e6e6;
    }

    &__title {
      width: calc(100% - 60px);
      height: 75px;
      line-height: 16px;
      color: #9561f8;
      font-size: 16px;
      margin: 0;
      font-weight: 700;
    }

    &__title a {
      width: calc(100% - 60px);
      height: 32px;
      line-height: 16px;
      color: #9561f8;
      font-size: 16px;
      margin: 0;
      font-weight: 700;
    }

    &__rating {
      width: calc(100% - 60px);
      color: #030202;
      font-size: 13px;
      font-weight: 400;
      margin: 15px 0 30px 0;

      &--color {
        font-weight: 700;

        &.green-color {
          color: #70dc5c;
        }

        &.orange-color {
          color: orange;
        }

        &.red-color {
          color: red;
        }
      }
    }

    &__img {
      position: absolute;
      right: 0;
      top: 0;
      width: 52px;
      height: 52px;
      max-width: 52px;
    }

    &-hide-description {
      font-size: 13px;
      color: #000000;
      line-height: 22px;
      font-weight: 400;
      margin: 15px 0 25px 0;

      .hide {
        display: none;
      }
    }

    &-description {
      color: #a4a4a4;
      font-size: 12px;
      font-weight: 700;
      margin: 15px 0 25px 0;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__link {
      width: 160px;
      height: 27px;
      border-radius: 14px;
      border: 1px solid #9561f8;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #9561f8;
      font-weight: 700;
      font-size: 12px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .moreDetails {
    display: flex;
    align-items: baseline;
    color: #6e6e6e;
    font-size: 12px;
    font-weight: 700;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
    }

    .arrow {
      margin-right: 5px;
      transition: 0.3s ease-in;
    }
  }

  .hide {
    display: none;
  }

  .rotate {
    transform: rotate(180deg);
    transition: 0.3s ease-in;
  }

  .filters-search {
    position: relative;

    img{
      position: absolute;
      right: 0;
      top: 10px;
    }

    input {
      border: 0;
      border-bottom: 1px solid #a2a2a2;
      width: 230px;
    }

    input::placeholder {
      color: #999999;
      font-size: 13px;
    }

    .search {
      position: absolute;
      right: 0;
    }
  }

  .profile_search{
    position: absolute;
    top: 0;
    width: 90%;
  }

  .requests-page-filters {
    position: relative;
    padding: 0 20px 0 20px;
    width: 24.5%;
    @media (max-width: 1200px) {
      width: 30%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }

    .profile_search{

      @media (max-width: 768px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
    }

  }

  @include media-breakpoint-between(xs, md) {
    .requests-page-filters {
      width: 100%;
    }
  }

  .requests-page-filters .title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .requests-page-filters #search {
    border: 0;
    width: 100%;
    border-bottom: 1px solid #a2a2a2;
    background-color: transparent;
    margin-left: 5px;
    position: static;
  }

  .requests-page-filters #search::placeholder {
    color: #999999;
    font-size: 13px;
  }

  .requests-page-filters .subtitle {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0 20px 0;
    @media (max-width: 768px ){
      margin: 10px 0 10px 0;
    }
  }

  .requests-page-filters .cities {
    font-size: 15px;
  }

  .requests-page-filters .professions {
    font-size: 15px;
  }

  .filter-item {
    margin-bottom: 12px;
  }

  .filter-item .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
  }

  .filter-item .checkbox + label {
    position: relative;
    padding: 0 0 0 20px;
    cursor: pointer;
  }

  .filter-item .checkbox + label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -2px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid #afafaf;
    transition: .2s;
  }

  .filter-item .checkbox + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    transition: .2s;
  }

  .filter-item .checkbox:checked + label:after {
    content: '\2713';
    font-weight: bold;
  }
}

#catalog {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 15px;
  font-family: "Open-sans", sans-serif;

  .requests-page-filters {
    overflow: auto;
  }

  p {
    margin: 0;
  }

  .catalog {
    width: 70%;
    height: max-content;
    overflow: auto;
    padding-right: 20px;
    max-height: 100%;
  }

  .catalog-item {
    padding: 20px 45px 15px 20px;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(113, 113, 113, 0.2);
    border-radius: 4px;
    margin-bottom: 18px;
  }

  .catalog-item-container {
    display: flex;
  }

  .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 180px;
  }

  .info-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 34px;
    line-height: 13px;

    a {
      color: $purple;
    }
  }

  .logo {
    max-width: 61px;
  }

  .rating {
    margin-top: 18px;
    font-size: 14px;
    line-height: 12px;
  }

  .item-description {
    width: 100%;
  }

  .description {
    margin: 0 23px 0 15px;
    font-size: 13px;
  }

  hr {
    margin-top: 30px;
  }

  .details {
    margin: 0 6px 0 14px;
    color: $purple;
    font-size: 13px;
  }

  .item-btn {
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 27px;
    border-radius: 14px;
    border: 1px solid $purple;
    font-size: 13px;
    color: $purple;
  }

  .input-container {
    position: relative;
    display: inline;
    width: 100%;
  }

  .col-green {
    color: #02da35;
    font-weight: bold;
  }
}

@media (max-width: 1000px) {
  #catalog {
    .catalog-item {
      padding: 20px;
    }

    .item-info {
      min-width: 100px;
    }
  }
}

@media (max-width: 768px) {
  #catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: max-content;

    .catalog {
      width: 100%;
      padding-right: 0;
    }

    .filter-item {
      margin-bottom: 5px;
    }

    .description, .details {
      margin-right: 0;
    }

    .filters-header {
      width: 100%;
    }

    .cities, .professions {
      width: 50%;
    }
  }
}

@media (max-width: 450px) {
  #catalog {
    .cities, .professions {
      width: 100%;
    }

    .catalog-item {
      padding: 10px;
    }

    .info-title {
      text-align: center;
      margin-bottom: 15px;
    }

    .catalog-item-container {
      flex-direction: column;
    }

    .rating {
      margin-top: 10px;
    }

    .item-info {
      margin-bottom: 15px;
    }

    .description, .details {
      margin-left: 0;
    }
  }
}

@media (max-width: 1200px) {

    #order_page #requests-page{
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    }

    #order_page #requests-page .requests-page-filters{
      width: 100%;
      padding: 0;
    }

    #profesion-city-form{
      display: flex;
      flex-wrap: wrap;
    }

    #profesion-city-form .cities{
      width: 50%;
    }

    #profesion-city-form .professions{
      width: 50%;
    }

    #order_page #requests-page .requests-page-container{
      width: 100%;
    }

    #order_page #requests-page{
      padding: 60px 15px 15px 15px;
    }

  #order_page #requests-page .requests-page-filters #search{
    max-width: 300px;
  }

  #order_page #requests-page .filters-search img{
    display: none;
  }

}

@media (max-width: 1000px) {
  #order_page {
    #requests-page{
      padding-top: 90px;
    }
  }
}

@media (max-width: 900px) {
  #order_page {
    #requests-page{
      .platform{
        .details{
          flex-direction: column;
          padding: 15px;

          .sidebar{
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 10px;
            margin-bottom: 10px;
            .copy{
              width: auto;
            }
          }

          .request-body{
            width: 100%;
            padding-bottom: 10px;
          }

          .buttons{
            width: 100%;
            margin-top: 10px;
            padding-right: 0;
            align-items: center;
            order: 4;
            .add-to-favourite, .send{
              width: 200px;
              margin-top: 10px;
            }
            .add-to-favourite{
              margin-top: 0;
            }
          }

          .comment{
            width: 100%;
          }

        }
      }
    }
  }
}


@media (max-width: 800px) {

    #order_page #requests-page .platform .vacancy .salary{
      margin: 0;
    }
    #order_page #requests-page .platform .vacancy .number{
      margin: 0;
    }

    #profesion-city-form .cities{
      width: 40%;
    }

    #profesion-city-form .professions{
      width: 60%;
    }

    #order_page .order_row .vacancy{
      flex-direction: column;
      align-items: center;
    }

    #order_page #requests-page .platform .vacancy .description{
      margin: 5px 0;
    }

}

@media (max-width: 770px) {
  #order_page {
    #requests-page{
      padding-top: 110px;
    }
  }
}

@media (max-width: 600px) {
  #order_page {
    #requests-page{
      padding-top: 145px;
      .ordersCatalog{
        left: 15px;
      }
    }
  }
}

@media (max-width: 550px) {

    #profesion-city-form .cities, #profesion-city-form .professions{
      width: 100%;
    }

}



@media (max-width: 400px) {

    #order_page #requests-page .platform .information{
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      .logo{
        margin-right: 0;
      }
      .name{
        text-align: center;
      }
    }

    #order_page #requests-page .requests-page-filters .subtitle{
      margin: 10px 0 10px 0;
    }

  #order_page #requests-page .platform .header{
    flex-direction: column;
    align-items: center;
  }

  #order_page #requests-page .platform .header p{
    margin-bottom: 5px;
  }

  #myTab{
    justify-content: center;
  }
}
