$secondaryColor: #fff;
$secondaryColorDark: #b7b7b7;

.form-group.position-relative input {
  padding-right: 32px;
}

.form-clear {
  align-items: center;
  background: #cecece;
  border-radius: 50%;
  bottom: 8px;
  color: rgba(0, 0, 0, .54);
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 24px;
  z-index: 10;
}

.form-text+.form-clear {
  bottom: calc(1rem + 18px);
}

.form-clear .material-icons {
  font-size: 16px;
  font-weight: 500;
}

.p-site-orders {
  .card {
    margin-bottom: 15px;

    .view.overlay {
      padding: 9px;
      border-bottom: 1px solid #d2d2d2;
    }

    .card-body {
      .item {
        border-bottom: 1px solid #d2d2d2;
        padding: 10px 0;
      }

      .item:last-child {
        border: none;
      }
    }
  }
}

#order_page {
  #requests-page {
    background-color: #f2f2f2;
    font-family: "Open sans", sans-serif;
    height: auto;
    min-height: 100%;
    width: 100%;
    padding: 20px 35px 0 20px;
    display: flex;
    flex-wrap: wrap;

    .requests-page-container {
      width: 75.5%;
    }

    .order_row:nth-child(2n) {
      background-color: #fbfbfb;
    }



    .platform {
      width: 100%;
      background-color: #fff;
      box-shadow: 0 0 8px rgba(113, 113, 113, 0.2);
      border-radius: 4px;
      margin-bottom: 30px;
      padding: 20px 20px 0 20px;

      .header {
        display: flex;
        justify-content: space-between;

        p {
          margin: 0;
          font-size: 17px;
          font-weight: bold;
          line-height: 18px;
        }

        span {
          color: #9046ff;
          font-size: 15px;
          line-height: 15px;
          font-weight: bold;
        }
      }

      .information {
        display: flex;
        margin-top: 20px;

        .logo {
          width: 69px;
          height: 69px;
          border-radius: 50%;
          margin-right: 40px;
          object-fit: cover;
        }

        .custom-green {
          color: #02da35;
          font-weight: bold;
        }

        .custom-green:first-child {
          margin-right: 20px;
        }

        .name {
          margin-top: 8px;
          margin-bottom: 10px;
          font-size: 15px;
        }

        .characteristic {
          font-size: 15px;
          margin: 0;
        }
      }

      .information-search {
        display: flex;
        align-items: center;
        margin-left: auto;
        position: relative;

        img {
          position: absolute;
          right: 0;
          bottom: 20px;
        }

        input {
          border: 0;
          border-bottom: 1px solid #a2a2a2;
          width: 230px;
        }

        input::placeholder {
          color: #999999;
          font-size: 13px;
        }

        .search {
          position: absolute;
          right: 0;
        }
      }
    }
  }




  #requests-page .platform .tabs {
    margin-top: 25px;
  }

  #requests-page .platform .tabs .nav {
    border-radius: 4px;
    background-color: #ebebeb;
  }

  #requests-page .platform .tabs .nav-item {
    line-height: 15px;
    font-size: 14px;
    font-weight: bold;
  }

  #requests-page .platform .tabs .nav-link {
    color: #000000;
    padding: 10px 40px;
  }

  #requests-page .platform .tabs .nav-link.active {
    border-radius: 4px;
    background-color: #d7d7d7;
  }

  #requests-page .platform .tabs .tab-content {
    overflow: auto;
    margin: 0 -20px;
    padding: 0 0 10px 0;
  }

  #requests-page .platform .tabs .tab-content .tab-pane:nth-child(2),
  #requests-page .platform .tabs .tab-content .tab-pane:nth-child(3) {
    padding: 0 20px;
  }

  #requests-page .platform .vacancy {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px 20px;
  }

  #requests-page .platform .vacancy:hover {
    cursor: pointer;
    box-shadow: 0 0 13px 3px rgba(113, 113, 113, 0.15);
  }

  #requests-page .platform .vacancy.bg {
    background-color: #fbfbfb;
  }

  #requests-page .platform .vacancy .star {
    margin-left: 6px;
    width: 18px;
    height: 16px;
  }

  #requests-page .platform .vacancy .star:hover {
    fill: yellow;
  }

  #requests-page .platform .vacancy p {
    margin-bottom: 0;
  }

  #requests-page .platform .vacancy .number {
    margin: 0 24px 0 40px;
    font-size: 13px;
    font-weight: bold;
  }

  #requests-page .platform .vacancy .description {
    font-size: 14px;
  }

  #requests-page .platform .vacancy .salary {
    margin-left: auto;
    margin-right: 16px;
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
    background-color: #9046ff;
    line-height: 13px;
    padding: 4px 10px;
  }

  #requests-page .platform .details {
    background-color: #ebebeb;
    display: none;
    padding: 20px 65px 35px 20px;
    flex-wrap: wrap;

    li {
      background: none !important;
    }
  }

  #requests-page .platform .details.opened {
    display: flex;
  }

  #requests-page .platform .details .request-body {
    width: 75%;
    padding-bottom: 20px;
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid #e1e1e1;
  }

  #requests-page .platform .details .request-body .subtitle {
    font-weight: 700 !important;
    line-height: 18px;
    color: #000000;
  }

  #requests-page .platform .details .request-body .salary {
    position: absolute;
    right: 36px;
    top: 0;
    border-radius: 4px;
    background-color: #1970ff;
    line-height: 14px;
    padding: 4px 10px;
    color: #fff;
    font-size: 13px;
  }

  #requests-page .platform .details .request-body p {
    margin: 0;
  }

  #requests-page .platform .details .sidebar {
    width: 25%;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #requests-page .platform .details .sidebar .contact-person {
    font-size: 15px;
  }

  #requests-page .platform .details .sidebar .contact-person .title {
    font-weight: bold;
    margin: 0;
  }

  #requests-page .platform .details .sidebar .contact-person .initials {
    margin: 0;
  }

  #requests-page .platform .details .sidebar .contact-person .phone-number {
    margin: 0;
  }

  #requests-page .platform .details .sidebar .peoples-need {
    margin-top: 60px;
    width: 112px;
  }

  #requests-page .platform .details .sidebar .peoples-need .title {
    color: #1970ff;
    font-size: 15px;
    line-height: 16px;
    font-weight: bold;
    margin: 0 0 20px 0;
  }

  #requests-page .platform .details .sidebar .peoples-need .count {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #requests-page .platform .details .sidebar .peoples-need .count img:hover {
    cursor: pointer;
  }

  #requests-page .platform .details .sidebar .peoples-need .count span {
    font-size: 15px;
  }

  #requests-page .platform .details .sidebar .copy {
    display: flex;
    align-items: flex-start;
    width: 80%;
  }

  #requests-page .platform .details .sidebar .copy:hover {
    cursor: pointer;
  }

  #requests-page .platform .details .sidebar .copy .copy-img {
    margin-right: 8px;
    margin-top: 4px;
  }

  #requests-page .platform .details .sidebar .copy p {
    margin: 0;
    color: #1970ff;
    font-size: 13px;
  }

  #requests-page .platform .details .buttons {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-top: 20px;
    justify-content: flex-end;
  }

  #requests-page .platform .details .buttons .add-to-favourite {
    border-radius: 14px;
    border: 1px solid #1970ff;
    justify-content: center;
    height: 27px;
    display: flex;
    margin-top: 18px;
    align-items: center;
    color: #1970ff;
    font-size: 13px;
  }

  #requests-page .platform .details .buttons .delete-from-favourite {
    border-radius: 14px;
    border: 1px solid #7d7e7e;
    justify-content: center;
    height: 27px;
    display: flex;
    margin-top: 18px;
    align-items: center;
    color: #7d7e7e;
    font-size: 13px;
  }

  #requests-page .platform .details .buttons .delete-from-favourite:hover {
    cursor: pointer;
  }

  #requests-page .platform .details .buttons .send {
    border-radius: 14px;
    justify-content: center;
    margin-top: 18px;
    height: 27px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 13px;
    background-image: linear-gradient(to top, #1d72ff 0%, #66a1ff 100%);
  }

  #requests-page .platform .details .buttons .send:hover {
    cursor: pointer;
  }

  #requests-page .platform .details .comment {
    width: 75%;
    font-size: 14px;
    margin-top: 20px;
  }

  #requests-page .platform .details .comment .subtitle {
    font-weight: 700;
    line-height: 18px;
    color: #000000;
  }

  #requests-page .filters-search{
    position: relative;

    img{
      position: absolute;
      right: 0;
      top: 10px;
    }

    input {
      border: 0;
      border-bottom: 1px solid #a2a2a2;
      width: 230px;
    }

    input::placeholder {
      color: #999999;
      font-size: 13px;
    }

    .search {
      position: absolute;
      right: 0;
    }
  }

  .pseudo-star {
    font-size: 24px;
    color: #e3e3e3;
    position: absolute;
    left: 26px;
    top: 2px;
  }

  .pseudo-star:hover:before, .pseudo-star-selected:before {
    content: "\2605";
    position: absolute;
    color: yellow;
  }

  .custom-scroll {
    &::-webkit-scrollbar {
      width: 6px;
      background-color: $secondaryColor;
    }

    &::-webkit-scrollbar-track {
      border-radius: 6px;
      background: transparentize($secondaryColorDark, 0.7);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: transparentize($secondaryColorDark, 0.4);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $secondaryColorDark;
    }

    &::-webkit-scrollbar-thumb:active {
      background: linear-gradient(left, #22ADD4, #1E98BA);
    }
  }
}

#catalog{
  .filters-search {
    position: relative;
    @media (max-width: 768px) {
      max-width: 300px;
    }
  }
}

#catalog, #requests-page {
  .filters-search {
    position: relative;

    img{
      position: absolute;
      right: 0;
      top: 10px;
    }

    input {
      border: 0;
      border-bottom: 1px solid #a2a2a2;
      width: 230px;
    }

    input::placeholder {
      color: #999999;
      font-size: 13px;
    }

    .search {
      position: absolute;
      right: 0;
    }
  }

  .requests-page-filters {
    padding: 0 20px 0 20px;
    width: 24.5%;
    @media (max-width: 1200px) {
      width: 30%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }

    .profile_search{

      @media (max-width: 768px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
    }

  }

  @include media-breakpoint-between(xs, md) {
    .requests-page-filters {
      width: 100%;
    }
  }

  .requests-page-filters .title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .requests-page-filters #search {
    border: 0;
    width: 100%;
    border-bottom: 1px solid #a2a2a2;
    background-color: transparent;
    margin-left: 5px;
    position: static;
  }

  .requests-page-filters #search::placeholder {
    color: #999999;
    font-size: 13px;
  }

  .requests-page-filters .subtitle {
    font-size: 15px;
    font-weight: bold;
    margin: 40px 0 20px 0;
    @media (max-width: 768px ){
      margin: 10px 0 10px 0;
    }
  }

  .requests-page-filters .cities {
    font-size: 15px;
  }

  .requests-page-filters .professions {
    font-size: 15px;
  }

  .filter-item {
    margin-bottom: 12px;
  }

  .filter-item .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
  }

  .filter-item .checkbox + label {
    position: relative;
    padding: 0 0 0 20px;
    cursor: pointer;
  }

  .filter-item .checkbox + label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -2px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid #afafaf;
    transition: .2s;
  }

  .filter-item .checkbox + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    transition: .2s;
  }

  .filter-item .checkbox:checked + label:after {
    content: '\2713';
    font-weight: bold;
  }
}

#catalog {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 15px;
  font-family: "Open-sans", sans-serif;

  .requests-page-filters {
    overflow: auto;
  }

  p {
    margin: 0;
  }

  .catalog {
    width: 70%;
    height: max-content;
    overflow: auto;
    padding-right: 20px;
    max-height: 100%;
  }

  .catalog-item {
    padding: 20px 45px 15px 20px;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(113, 113, 113, 0.2);
    border-radius: 4px;
    margin-bottom: 18px;
  }

  .catalog-item-container {
    display: flex;
  }

  .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 180px;
  }

  .info-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 34px;
    line-height: 13px;
  }

  .logo {
    max-width: 61px;
  }

  .rating {
    margin-top: 18px;
    font-size: 14px;
    line-height: 12px;
  }

  .item-description {
    width: 100%;
  }

  .description {
    margin: 0 23px 0 15px;
    font-size: 13px;
  }

  hr {
    margin-top: 30px;
  }

  .details {
    margin: 0 6px 0 14px;
    color: #1970ff;
    font-size: 13px;
  }

  .item-btn {
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 27px;
    border-radius: 14px;
    border: 1px solid #1970ff;
    font-size: 13px;
    color: #1970ff;
  }

  .input-container {
    position: relative;
    display: inline;
    width: 100%;
  }

  .col-green {
    color: #02da35;
    font-weight: bold;
  }
}

@media (max-width: 1000px) {
  #catalog {
    .catalog-item {
      padding: 20px;
    }

    .item-info {
      min-width: 100px;
    }
  }
}

@media (max-width: 768px) {
  #catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: max-content;

    .catalog {
      width: 100%;
      padding-right: 0;
    }

    .filter-item {
      margin-bottom: 5px;
    }

    .description, .details {
      margin-right: 0;
    }

    .filters-header {
      width: 100%;
    }

    .cities, .professions {
      width: 50%;
    }
  }
}

@media (max-width: 450px) {
  #catalog {
    .cities, .professions {
      width: 100%;
    }

    .catalog-item {
      padding: 10px;
    }

    .info-title {
      text-align: center;
      margin-bottom: 15px;
    }

    .catalog-item-container {
      flex-direction: column;
    }

    .rating {
      margin-top: 10px;
    }

    .item-info {
      margin-bottom: 15px;
    }

    .description, .details {
      margin-left: 0;
    }
  }
}

@media (max-width: 1200px) {

    #order_page #requests-page{
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    }

    #order_page #requests-page .requests-page-filters{
      width: 100%;
      padding: 0;
    }

    #profesion-city-form{
      display: flex;
      flex-wrap: wrap;
    }

    #profesion-city-form .cities{
      width: 50%;
    }

    #profesion-city-form .professions{
      width: 50%;
    }

    #order_page #requests-page .requests-page-container{
      width: 100%;
    }

    #order_page #requests-page{
      padding: 15px;
    }

  #order_page #requests-page .requests-page-filters #search{
    max-width: 300px;
  }

  #order_page #requests-page .filters-search img{
    display: none;
  }

}

@media (max-width: 900px) {
  #order_page {
    #requests-page{
      .platform{
        .details{
          flex-direction: column;
          padding: 15px;

          .sidebar{
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 10px;
            margin-bottom: 10px;
            .copy{
              width: auto;
            }
          }

          .request-body{
            width: 100%;
            padding-bottom: 10px;
          }

          .buttons{
            width: 100%;
            margin-top: 10px;
            padding-right: 0;
            align-items: center;
            order: 4;
            .add-to-favourite, .send{
              width: 200px;
              margin-top: 10px;
            }
            .add-to-favourite{
              margin-top: 0;
            }
          }

          .comment{
            width: 100%;
          }

        }
      }
    }
  }
}


@media (max-width: 800px) {

    #order_page #requests-page .platform .vacancy .salary{
      margin: 0;
    }
    #order_page #requests-page .platform .vacancy .number{
      margin: 0;
    }

    #profesion-city-form .cities{
      width: 40%;
    }

    #profesion-city-form .professions{
      width: 60%;
    }

    #order_page .order_row .vacancy{
      flex-direction: column;
      align-items: center;
    }

    #order_page #requests-page .platform .vacancy .description{
      margin: 5px 0;
    }

}



@media (max-width: 550px) {

    #profesion-city-form .cities, #profesion-city-form .professions{
      width: 100%;
    }

}



@media (max-width: 400px) {

    #order_page #requests-page .platform .information{
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      .logo{
        margin-right: 0;
      }
      .name{
        text-align: center;
      }
    }

    #order_page #requests-page .requests-page-filters .subtitle{
      margin: 10px 0 10px 0;
    }

  #order_page #requests-page .platform .header{
    flex-direction: column;
    align-items: center;
  }

  #order_page #requests-page .platform .header p{
    margin-bottom: 5px;
  }

  #myTab{
    justify-content: center;
  }

}