#setting-page {
  font-size: 14px;
  position: relative;
  font-family: 'Open sans', sans-serif;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;

  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
  }
}

#setting-page .settings-column {
  width: 333px;
  height: 100%;
  background-color: #ffffff;
  max-width: 333px;

  @media (max-width: 992px) {
    width: 100%;
    max-width: unset;
  }

  .settings {
    position: fixed;
    width: 333px;
    background-color: #ffffff;
    @media (max-width: 992px) {
      position: static;
      width: 100%;
    }
  }
}

#setting-page .settings-column .header {
  border-bottom: 1px solid #e1e1e1;
  padding: 20px;
}

#setting-page .settings-list > li.active-link-underline{
  border-bottom: 1px solid #1970ff;
}

#setting-page .settings-column .title {
  margin: 0 0 15px 0;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

#setting-page .settings-column .user-data {
  display: flex;
  align-items: center;
}

#setting-page .settings-column .user-avatar {
  margin-right: 15px;
  border-radius: 50%;
  width: 49px;
  max-width: 49px;
  object-fit: cover;
}

#setting-page .settings-column .user-login {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

#setting-page .settings-list {
  margin: 0;
  padding: 15px;
}

#setting-page .settings-list > li {
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
  padding: 0 0 10px 10px;

  &:hover {
    border-bottom: 1px solid #1970ff;
  }

  a {
    color: #575757;

    &.active-link, &:hover {
      color: #1970ff;
    }
  }
}

#setting-page .settings-block-container {
  width: calc(100% - 333px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  @media (max-width: 992px) {
    width: 100%;
    padding: 15px;
  }
}

#setting-page .settings-block-user, #setting-page .company-card, #setting-page .mailing-list-management, #setting-page .contract-offer {
  box-shadow: 0 0 15px rgba(77, 77, 77, 0.15);
  border-radius: 4px;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 30px;
}

#setting-page .settings-block-user > .title, #setting-page .company-card > .title, #setting-page .mailing-list-management > .title, #setting-page .contract-offer > .title {
  color: #1970ff;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 60px;
  @media (max-width: 992px) {
    text-align: center;
    margin-bottom: 20px;
  }
}

#setting-page .company-card form {
  .require_field{
    display: flex;
    font-weight: bold;
    align-items: center;
  }
  .col-form-label{
    color: rgb(109, 109, 109);
  }
}

#setting-page .profile-settings {
  display: flex;
  flex-direction: column;
}

#setting-page .profile-settings {
  input[type='text'], input[type='password'], textarea {
    width: 376px;
    min-width: 376px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    padding: 0 10px;
    font-size: 14px;
  }

  textarea {
    height: 80px;
    @media (max-width:500px ){
      width: 100%;
      min-width: unset;
    }
  }
}

#setting-page .profile-settings input[type='submit'] {
  border: 0;
  color: #ffffff;
  margin-left: 24%;
  margin-top: 50px;
  width: 170px;
  font-size: 14px;
  height: 32px;
  border-radius: 16px;
  background-image: linear-gradient(to top, #1970ff 0%, #68a2ff 100%);
  @media (max-width: 992px){
    margin: 0 auto;
  }
}

#setting-page .profile-settings .form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 25px;
}

#setting-page .profile-settings .form-item > label {
  position: relative;
  align-self: flex-start;
}

#setting-page .profile-settings .form-item label{
  margin-bottom: 0;
}

#setting-page .profile-settings .form-item > .title {
  font-weight: bold;
  align-self: center;
}

#setting-page .profile-settings .form-item:last-child .title {
  align-self: flex-start;
}

#setting-page .profile-settings .choosing-logo {
  width: 376px;
  display: flex;
}

#setting-page .profile-settings .choosing-logo > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#setting-page .profile-settings .choosing-logo .logo {
  border-radius: 50%;
  width: 78px;
  height: 78px;
  max-width: 78px;
  min-width: 79px;
  margin-right: 25px;
  object-fit: cover;
  border: 1px solid rgb(215, 215, 215);
}

#setting-page .profile-settings .choosing-logo .file-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 32px;
  border-radius: 16px;
  background-color: #f2f2f2;
  font-size: 14px;
  cursor: pointer;
}

#setting-page .profile-settings .choosing-logo .without-logo {
  display: flex;
  align-items: center;
  margin-left: 0;
}

#setting-page .profile-settings .choosing-logo .without-logo > label {
  font-size: 14px;
  margin-left: 10px;
}

#setting-page .profile-settings #file-input {
  position: absolute;
  width: 153px;
  height: 32px;
  left: 0;
  opacity: 0;
}

#setting-page .profile-settings #without-logo {
  position: static;
  pointer-events: auto;
  opacity: 1;
  display: inline-block;
}

#setting-page .help {
  position: absolute;
  right: -5px;
  top: 5px;
  transform: translateX(100%);
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../images/question.png");
}

#setting-page .help:hover .hint {
  display: block;
}

#setting-page .help .hint {
  position: relative;
  display: none;
  right: -20px;
  top: -10px;
  width: 200px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 2px 5px;
  font-weight: normal;
  font-size: 14px;
}

#setting-page .burger {
  display: none;
  position: absolute;
  right: 25px;
  top: 25px;
  justify-content: space-around;
  flex-direction: column;
  width: 30px;
  height: 25px;
  z-index: 10;
}

#setting-page .burger span {
  width: 100%;
  height: 3px;
  background-color: #000;
  -o-transition: .7s;
  transition: .7s;
}

#setting-page .rotate-right {
  position: absolute;
  transform: rotate(45deg);
}

#setting-page .rotate-left {
  position: absolute;
  transform: rotate(-45deg);
}

#setting-page .hide-line {
  display: none;
}

#setting-page .mobile-menu {
  display: block !important;
  position: absolute;
  z-index: 2;
  width: 100% !important;
  max-width: unset;
}

@media (max-width: 1300px) {
  #setting-page .profile-settings .form-item {
    width: 85%;
  }
}

@media (max-width: 1200px) {
  #setting-page .profile-settings .form-item {
    width: 95%;
  }
}

@media (max-width: 1100px) {
  #setting-page .profile-settings .form-item {
    width: 100%;
  }
  #setting-page .profile-settings input[type=text], #setting-page .profile-settings input[type=password] {
    min-width: 300px;
    width: 300px;
  }

  #setting-page .profile-settings .choosing-logo {
    justify-content: flex-end;
  }
}

@media (max-width: 870px) {
  #setting-page .settings-block-container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #setting-page .profile-settings .form-item {
    flex-direction: column;
  }

  #setting-page .profile-settings .form-item > .title {
    margin-bottom: 10px;
  }

  #setting-page .profile-settings .form-item:last-child > .title {
    align-self: center;
  }

  #setting-page .profile-settings .choosing-logo {
    justify-content: center;
  }

  #setting-page .help .hint {
    right: 125px;
    top: -50px;
  }
}

@media (max-width: 400px) {
  #setting-page .settings-block-container {
    padding: 10px;
  }

  #setting-page .settings-block-container .settings-block-user, #setting-page .settings-block-container .contract-offer {
    padding: 15px;
  }

  #setting-page .profile-settings .choosing-logo {
    width: 100%;
  }

  #setting-page .profile-settings input[type=text], #setting-page .profile-settings input[type=password] {
    min-width: unset;
    width: 100%;
  }

  #setting-page .burger {
    display: flex;
  }
}

#setting-page .contract-offer {
  img#signature {
    height: 200px;
    position: absolute;
    right: 75px;
    bottom: 80px;
  }
}

@media screen and (max-width: 850px) {
  #setting-page .contract-offer {
    img#signature {
      height: 130px;
      position: absolute;
      right: 75px;
      bottom: 200px;
    }
  }
}

#setting-page #show_password_block {
  text-align: center;
  line-height: 32px;
  margin-left: 26%;
  @media (max-width: 992px){
    margin: 0 auto;
  }
}

#setting-page .invalid-feedback {
  display: block;
}

#setting-page .submit-left{
  margin: 10px auto 0;
}