body {
  font-family: Verdana, Geneva, sans-serif!important;
}

.bg-best-hr {
	background-color: #534741 !important;
}

.form-box {
    margin: .375rem;
    border-radius: 0;
}

.btn-box {
  border-radius: 0;
  line-height: 0.4;
  font-size: 1rem;
  border: 2px solid #fff!important;
    background-color: transparent!important;
    color: #fff!important;
    text-transform: inherit;

}

.btn-box:hover {
  border-radius: 0;
	line-height: 0.4;
	font-size: 1rem;
	border: 2px solid #fff!important;
    background-color: transparent!important;
    color: #fff!important;
    text-transform: inherit;

}

.btn-box:focus {
  border-radius: 0;
	line-height: 0.4;
	font-size: 1rem;
	border: 2px solid #fff!important;
    background-color: transparent!important;
    color: #fff!important;
    text-transform: inherit;

}

.btn-box:visited {
  border-radius: 0;
	line-height: 0.4;
	font-size: 1rem;
	border: 2px solid #fff!important;
    background-color: transparent!important;
    color: #fff!important;
    text-transform: inherit;

}

.button-menu {
  width: 100%;
}

#privacy_policy p {
  text-indent: 40px;
  margin-bottom: 0;
  text-align: justify;
}

#privacy_policy .list-item {
  margin-top: 1rem;
}

#privacy_policy b {
  font-weight: bold;
}

#privacy_policy {
    padding: 30px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
