.control-label {
  margin-top: 0;
  margin-bottom: 0;
  //padding-top: 7px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding: 7px 0 0 10px;
}

.enjoyhint {
  z-index: 1040 !important;

  #enjoyhint_label {
    width: 40%;
  }
}

#sign_in_page_wrapper, #sign_up_page_wraper, #edit_password_page {
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1111;
  position: absolute;
  top: 0;
  left: 0;

  .header {
    position: absolute;
    top: 5%;
    left: 10%;
    
    .header_logo {
      margin-top: auto;
      margin-bottom: auto;
      display: block;
      font-size: 27px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      a {
        color: #1970ff;
      }

      .counter {
        margin-left: 0;
        color: #fff;
      }
    }
    
    span {
      color: #000000;
    }
  }
}

#sign_in_page_wrapper {
  form {
    width: 350px;
    height: 250px;
  }
}

#sign_up_page_wraper {
  .invalid-feedback {
    display: block;
    font-size: 100%;
  }

  form {
    span.waves-input-wrapper {
      width: 100%;
    }
  }

  .container {
    box-shadow: none;
  }
}

#edit_password_page {
  form {
    width: 400px;
  }
}

.container{
  max-width: 785px;
  height: min-content;
  box-shadow: 0 0 15px rgba(77, 77, 77, 0.15);
  border-radius: 4px;
  background-color: #ffffff;
  margin-top: 20px;
}

.submit{
  display: block;
  width: 170px;
  height: 32px;
  border-radius: 16px;
  border: none;
  margin: 48px auto 0 auto;
  color: #fff;
  background-image: linear-gradient(to top, #1970ff 0%, #68a2ff 100%);
}

.submit:hover{
  cursor: pointer;
}

.users-edit-title{
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  margin-left: 8.333333%;
  margin-bottom: 60px;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
}

#radio-for-logo{
  opacity: 1;
  position: static;
}

#choose-file{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 32px;
  border-radius: 16px;
  background-color: #f2f2f2;
  font-size: 14px;
  align-self: center;
}

#edit_user input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 153px;
  opacity: 0;
}

.without-logo{
  margin-left: 12px;
  margin-bottom: 0;
}

.form-group .avatar{
  padding: 0;
}

.form-group:nth-child(4) .row{
  margin: 0;
}

.avatar{
  text-align: center;
}

@media(max-width: 900px){
  #right_window{
    width: 100% !important;
  }
  .container{
     height: max-content;
   }
}@media(max-width: 600px){
  #right_window{
    padding-left: 0 !important;
  }

}