.oktmo input {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

$primaryColor: #000;
$secondaryColor: #fff;
$secondaryColorDark: #b7b7b7;
$alterColor: #3481ff;
$bgColor: $secondaryColor - 13;
$primaryFont: 'Open Sans', sans-serif;
$tablet: "max-width: 1000px";
$phone: "max-width: 768px";

section{
  padding: 10px 30px 20px;
  border-radius: 4px;
  width: 100%;
  background-color: $secondaryColor;
  position: relative;
  box-shadow: 0 0 15px rgba(77, 77, 77, 0.15);
}
h3.title{
  height: 40px;
  line-height: 40px;
  font-family: $primaryFont;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 10px;
  @media (max-width: 450px) {
    height: auto;
    line-height: unset;
  }
}

#right_window.row{
  height: calc(100vh - 58px);
}

.user-btn{
  display: block;
  text-align: center;
  font-family: $primaryFont;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: $secondaryColor;
  border:none;
  background-image: linear-gradient(rgb(25,112,255) 0%,rgb(104,162,255) 50%,rgb(25,112,255) 100%);
  background-size: 200% 200%;
  background-position: 0 100%;
  cursor: pointer;
  &:hover{
    animation: gradient 5s ease infinite;
  }
}

main section{
  &::-webkit-scrollbar {
    width: 6px;

    background-color: $secondaryColor;
  }
  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.7);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: transparentize($secondaryColorDark, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondaryColorDark;
  }

  &::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
  }
}

.img-user{
  width: 84px;
  height: 84px;
  border-radius: 50%;
}

#pen{
  margin-right: 8px;
  max-width: 13px;
}


main{
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 15px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 0.75fr 1.4fr;
  grid-template-rows: 300px 1fr;
  grid-gap: 15px;
  gap: 15px;
  font-family: $primaryFont;
  background-color: $bgColor;
  .user{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 400px;
    overflow:hidden;
    &_info{
      width: 100%;
      height: calc(100% - 50px);
      overflow-y: auto;
      display: grid;
      grid-template-columns: 0.7fr 1fr;
      grid-template-rows: 0.8fr 1fr;
      grid-gap: 1px;
      gap: 1px;
      background-color: $bgColor;
      &::-webkit-scrollbar {
        width: 6px;

        background-color: $secondaryColor;
      }
      &::-webkit-scrollbar-track {
        border-radius: 6px;
        background: transparentize($secondaryColorDark, 0.7);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: transparentize($secondaryColorDark, 0.4);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $secondaryColorDark;
      }

      &::-webkit-scrollbar-thumb:active {
        background: linear-gradient(left, #22ADD4, #1E98BA);
      }
      >div{
        background-color: $secondaryColor;
      }
      &_avatar{
        grid-column: 1/2;
        grid-row: 1/3;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        img{
          margin:0 auto;
          max-width: 100px;
        }
        p{
          margin-top: 0;
          margin-bottom: 15px;
          font-family: $primaryFont;
          font-weight: 700;
          font-size: 15px;
        }
        button{
          padding: 2px;
          font-family: $primaryFont;
          font-weight: 400;
          font-size: 13px;
          border: none;
          background-color: transparent;
          cursor: pointer;
          border-bottom: 1px solid transparent;
          transition-duration: 0.3s;
          i{
            margin-right: 4px;
          }
          &:hover{
            border-bottom: 1px solid #000;
            transition-duration: 0.3s;
          }
        }
      }
      &_rating{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 15px;
        p{
          font-family: $primaryFont;
          font-weight: 400;
          font-size: 15px;
          color: $primaryColor;
          &:last-child{
            margin-bottom: 0;
          }
          span{
            font-weight: 700;
            color: #00ca39;
          }
        }
      }
      &_balance{
        padding: 15px;
        //display: flex;
        //flex-direction: column;
        //justify-content: space-between;
        p{
          font-family: $primaryFont;
          font-weight: 400;
          font-size: 15px;
          color: $primaryColor;
          margin-bottom: 0;
          span{
            font-weight: 700;
            color: $alterColor;
          }
        }
        button{
          margin-top: 10px;
          width: 113px;
          height: 27px;
          border-radius: 13.5px;
        }
      }
    }
  }
  .profiles{
    position: relative;
    overflow: auto;
    &_list{
      padding-left: 15px;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
      row-gap: 25px;
      &_elem{
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-column-gap: 20px;
        column-gap: 20px;
        font-family: $primaryFont;
        font-weight: 400;
        span{
          font-size: 13px;
          color: $primaryColor;
        }
        a{
          font-size: 15px;
          color: $alterColor;
        }
      }

    }
  }
  .events{
    overflow: auto;
    &_list{
      height: calc(100% - 50px);
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
      &_event{
        font-family: $primaryFont;
        header{
          font-size: 13px;
          height: auto;
          font-weight: 700;
          color: $secondaryColorDark;
        }
        p{
          font-size: 15px;
          font-weight: 400;
          color: $primaryColor;
        }
      }
    }
  }
  .seekers{
    overflow: auto;
    &_list{
      padding-left: 15px;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
      overflow-y: auto;
      &_seeker{
        font-family: $primaryFont;
        p{
          font-size: 15px;
          font-weight: 400;
          line-height: 16px;
          color: $primaryColor;
          margin-bottom: 1.5rem;
          span{
            margin-right: 20px;
            font-weight: 700;
            font-size: 13px;
            color: $alterColor;
          }
        }
        p a{
          font-size: 15px;
          font-weight: 400;
          color: $primaryColor;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
  @media(#{$tablet}){
    padding: 10px;
    grid-gap: 10px;
    gap: 10px;
    &>section{
      padding: 10px 15px;
      >header{
        line-height: 20px;
      }
    }
    .user{
      min-width: 370px;
    }
    .profiles{
      &_list{
        grid-row-gap: 5px;
        row-gap: 5px;
        &_elem{
          grid-template-columns: 1fr;
          padding: 5px 0;
          &:nth-child(even){
            background-color: $secondaryColor - 10;
          }
        }

      }
    }
  }
  @media(#{$phone}){
    grid-column: 1/2;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 250px) ;
    .user{
      min-width: 260px;
      height: max-content;
      &_info{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        &_avatar{
          padding: 5px 0;
          grid-column: 1/2;
          grid-row: 1/2;
          display: grid;
          grid-template-columns: 1fr 3fr;
          grid-template-rows: 1fr 1fr;
          img{
            grid-column: 1/2;
            grid-row: 1/3;
            margin: auto;
            width: 70px;
          }
          button{
            display: inline-block;
            margin: auto;
          }
        }
        &_rating{
          padding: 5px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;
        }
        &_balance{
          padding: 5px;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          p{
            margin-bottom: 5px;
          }
        }
      }
    }
    .profiles{
      &_list{
        padding-left: 5px;
      }
    }
    .seekers{
      &_list{
        padding-left: 5px;
      }
    }
  }
}

@media(max-width: 1360px){
  main .user_info_balance{
      padding: 20px 5px 15px 20px;
  }
}
@media(max-width: 768px){
  main{
    height: auto;
  }
}

.profiles, .events, .seekers {
  .empty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #9b9b9b;
  }
}

.fc-center {
  display: flex;
}

//Landing_choice
#common-landing {
  width: 100%;
  height: calc(100vh);
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
}

#common-landing .common-landing__header {
  position: absolute;
  height: 74px;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  padding-left: 8.28%;  //левый отступ
  justify-content: space-between;
  padding-right: 70px; // правый отступ
  // margin-top: , если нужен будет верхний отступ
}

#common-landing .common-landing__header > div {
  display: flex;
}

#common-landing .log-in {
  width: 95px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-left: 25px;
}

#common-landing .log-in:hover {
  text-decoration: none;
}

#common-landing .social {
  display: flex;
  align-items: center;
}

#common-landing .social .insta {
  margin: 0 15px;
}

#common-landing .company-name {
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: black;
  img{
    width: 170px;
    max-width: 170px;
  }
}

#common-landing .company-name .textBlue {
  color: #1970ff;
}

#common-landing .company-name:hover {
  color: black;
  text-decoration: none;
}

#common-landing .choose-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#common-landing .img-responsive {
  width: 100%;
  pointer-events: none;
}

#common-landing .recruter, #common-landing .customer {
  position: relative;
  width: 50%;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#common-landing .recruter {
  background-image: linear-gradient(to top, #ffffff 0%, #ecffe2 100%);
  padding-left: 20px;
}

#common-landing .customer {
  background-image: linear-gradient(to top, #ffffff 0%, #dff0ff 100%);
  padding-right: 20px;
}

#common-landing .choose-recruter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 45px;
}

#common-landing .choose-recruter .img-container {
  margin-right: -10px;
}

#common-landing .choose-customer {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding-top: 60px;
}

#common-landing .choose-customer .choose-content {
  margin-right: 60px;
}

#common-landing .choose-customer, #common-landing .choose-recruter {
  position: relative;
  z-index: 2;
}

#common-landing .recruter:hover, #common-landing .customer:hover {
  width: 100%;
}

#common-landing .choose-content {
  padding-top: 60px;
}

#common-landing .description {
  text-align: center;
  font-size: 15px;
  margin: 0;
}

#common-landing .title {
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 12px;
}

#common-landing .recruter-btn {
  width: 145px;
  height: 40px;
  border-radius: 20px;
  background-color: #9046ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 62px auto;
  font-size: 15px;
}

#common-landing .customer-btn {
  width: 145px;
  height: 40px;
  border-radius: 20px;
  background-color: #1970ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 62px auto;
  font-size: 15px;
}

#common-landing .recruter-btn:hover, #common-landing .customer-btn:hover {
  color: white;
}

#common-landing .rectangle-right {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
  pointer-events: none;
}

#common-landing .rectangle-left {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  pointer-events: none;
}

#common-landing .clouds-right {
  position: absolute;
  top: 11.72%;
  bottom: auto;
  left: 0;
  margin: auto;
  right: 0;
  height: 57px;
  width: 75.12%;
  max-width: 510px;
  pointer-events: none;
  @media (max-width: 768px ){
    display: none;
  }
}

#common-landing .clouds-left {
  position: absolute;
  top: 11.72%;
  bottom: auto;
  left: 0;
  margin: auto;
  right: 0;
  height: 42px;
  width: 82.12%;
  max-width: 560px;
  pointer-events: none;
  @media (max-width: 768px ){
    display: none;
  }
}

#sign_up_page_wraper{
  >.header{
    display: none;
  }
}

@media (max-width: 1200px) {
  #common-landing .recruter:hover, #common-landing .customer:hover {
    width: 50%;
  }

  #common-landing .choose-recruter {
    margin-right: 40px;
  }

  #common-landing .choose-customer {
    margin-left: 40px;
  }
}

@media (max-width: 1000px) {
  #common-landing .customer .choose-content {
    margin-right: 30px;
  }

  #common-landing .choose-customer, #common-landing .choose-recruter {
    flex-direction: column-reverse;
    align-items: center;
  }

  #common-landing .customer {
    padding-right: 0;
  }

  #common-landing .recruter {
    padding-left: 0;
  }
}



@media (max-width: 768px) {

  #common-landing .recruter, #common-landing .customer {
    width: 100%;
    height: 50%;
  }

  #common-landing .recruter:hover, #common-landing .customer:hover {
    width: 100%;
  }

  #common-landing .recruter-btn, #common-landing .customer-btn {
    margin: 30px auto 0;
  }

  #common-landing .choose-content {
    padding-top: 0;
  }

  #common-landing{
    height: auto;

    .choose-container{
      padding-top: 74px;
    }

    .common-landing__header{
      padding: 0 4%;
      background-color: #ffffff;
      > div{
        width: 25.3%;
        max-width: 140px;
        height: 71%;
        align-items: center;
      }
    }

    .company-name {
      width: 47.3%;
      max-width: 170px;
      img{
        max-width: 100%;
        width: 100%;
      }
    }
    
    .social{
      display: none;
    }

    .log-in{
      width: 100%;
      max-width: 100%;
      margin: 0;
      border-radius: 30px;
      border: 1px solid #000000;
      background-color: #ffffff;
      color: #000000;
      font-family: "Open Sans - Semi Bold";
      font-size: calc( (100vw - 320px)/(1366 - 755) * (30 - 16) + 16px);
      font-weight: 400;
    }

    .title{
      color: #000000;
      font-size: calc( (100vw - 320px)/(1366 - 755) * (63 - 30) + 30px);
      font-weight: 700;
    }

    .description{
      color: #000000;
      font-size: calc( (100vw - 320px)/(1366 - 755) * (30 - 15) + 15px);
      font-weight: 400;
    }

    .recruter-btn{
      background-color: #9046ff;
      // margin-top: 85px;
      margin-top: 24%;
    }

    .customer-btn{
      background-color: #1970ff;
      margin-top: 90px;
    }
    
    .recruter-btn, .customer-btn{
      width: 83%;
      max-width: 300px;
      height: 40px;
      max-height: 77px;
      // height: 45px;
      font-size: calc( (100vw - 320px)/(1366 - 755) * (30 - 15) + 15px);
      font-weight: 400;
      font-family: "Open Sans - Semi Bold";
      color: #ffffff;
      border-radius: 39px;
    }

    .choose-content{
      width: 62%;
      max-width: 360px
    }

    .choose-recruter{
      flex-direction: row;
      margin-right: 0;
      align-items: flex-start;
      padding-bottom: 90px;

      .choose-content{
        // margin-top: 130px;
        margin-top: 17%;
      }

      .img-container{
        max-width: 312px;
        width: 41.3%;
        // margin-right: -65px;
        margin-right: -10.6%;
      }

    }

    .choose-customer{
      flex-direction: row-reverse;
      margin-left: 0;
      .img-container{
        width: 180px;
      }
    }

    .choose-container {
      flex-direction: column;
    }

    .rectangle-left{
      transform: translate(-74%, 58%);
    }

    .rectangle-right{
      transform: translate(71%, 58%);
    }

    .customer{
      .choose-content{
        margin-top: 75px;
      }
    }

  }

}

// @media (max-width: 600px) {
//   #common-landing{

//     .img-container{
//       display: none;
//     }

//     .choose-recruter{
//       .choose-content{
//         margin-top: 0;
//       }
//     }

//     .customer{
//       .choose-content{
//         margin-top: 0;
//       }
//     }

//   }
// }

// @media (max-width: 400px) {
//   #common-landing .social {
//     display: none;
//   }
// }
