.row
  .col
    h1 Статистика сервиса
    table.table
      tr
        th Показатель
        th Сегодня
        th 2 дня
        th 3 дня
        th 7 дней
        th 14 дней
        th 1 месяц
        th Всего
      - @metrics.each do |metric|
        tr
          td = metric.title
          td = metric.today
          td = metric.two_days
          td = metric.three_days
          td = metric.seven_days
          td = metric.fourteen_days
          td = metric.one_month
          td = metric.total
= render partial: 'employee_cv', collection: @paginated_employee_cvs, as: :employee_cv
= paginate @paginated_employee_cvs

    /<ul class="list-unstyled days">
    /  <li>1</li>
    /  <li>2</li>
    /  <li>3</li>
    /  <li>4</li>
    /  <li>5</li>
    /  <li>6</li>
    /  <li>7</li>
    /  <li>8</li>
    /  <li>9</li>
    /  <li>10</li>
    /  <li class="active rounded-left">11</li>
    /  <li class="active">12</li>
    /  <li class="active">13</li>
    /  <li class="active">14</li>
    /  <li class="active rounded-left">15</li>
    /  <li class="active">16</li>
    /  <li class="active">17</li>
    /  <li class="active">18</li>
    /  <li class="active">19</li>
    /  <li class="active">20</li>
    /  <li class="active">21</li>
    /  <li class="active">22</li>
    /  <li class="active">23</li>
    /  <li class="active">24</li>
    /  <li class="active rounded-right">25</li>
    /  <li>26</li>
    /  <li>27</li>
    /  <li>28</li>
    /  <li>29</li>
    /  <li>30</li>
    /  <li>31</li>
    /  </ul>
