li
  = link_to orders_by_customer_path(label.to_sym), id: label, class: "text-body #{'font-weight-bold' if @active_item == label.to_sym}" do
    i.fas.fa-align-justify.mr-3
    = t("left_menu.#{label}")
