/ h2.title
/   = "Подтверждение электронной почты для  #{@user.email}"

/ .p-15-0
/   | Уважаемый 
/   b
/     = @user.full_name 
/   | . Необходимо подтвердить адрес электронной почты.

/   = link_to 'Подтвердить почту',
/           user_confirmation_url(@user, confirmation_token: @token)
/ / Чтобы зарегистрироваться на портале RostJob.Com перейдите по ссылке: Ссылка

| Чтобы зарегистрироваться на портале RostJob.com перейдите по ссылке:
p
  = link_to 'Подтвердить почту',
          user_confirmation_url(@user, confirmation_token: @token),
          style: 'text-decoration: none'