= "Восстановление пароля для #{@user.email}"
= "Уважаемый(ая) #{@user.full_name}. Вы сделали запрос на получение забытого пароля. Чтобы получить новый пароль, пройдите по ссылке ниже:"

= url_for edit_user_password_url(reset_password_token: @token)

| Если вы не делали запроса для получения пароля, то просто удалите данное письмо.
| Ваш пароль храниться в надежном месте и недоступен посторонним лицам.
