= "Здравствуйте #{@resource.email}!"
| Ваша учетная запись была заблокирована из-за чрезмерного количества неудачных попыток входа
| Кликните по ссылке, для разблокировки вашего аккаунта

= url_for(@resource, unlock_token: @token)
