javascript:
  setTimeout(function() {
    toastr.info('На указанный вами адрес электронной почты направлена ссылка для активации учетной записи. Если письмо долго не приходит, проверьте папку "СПАМ" вашей почты.', 'Внимание!', {timeOut: 5000})
  }, 3000);
